[2020-07-08 08:18] yoctocell opened #1 "Neovim versions <0.5.0 are incompatible: missing extmarks API"
I followed the quick start guide on the README and when I ran `PackerInstall` I got the the following error.

[code]

[2020-07-08 15:50] wbthomason commented on #1
Thanks for the report! It looks like this would happen if your version of Neovim isn't new enough to have the `vim.fn` convenience wrapper (which was ported from https://github.com/norcalli/nvim.lua). Could you send me your Neovim version info?

If that is indeed the case, I'll either need to add a note to the README with a minimum required Neovim version or add a wrapper for the features from htt

[2020-07-08 20:49] yoctocell commented on #1
I am on version 0.4.3 so that might be the problem.

[code]

[2020-07-08 21:30] wbthomason commented on #1
Yeah, I’m pretty sure that’d do it. As it seems like it may be a while before v0.5.0 or v0.4.4 are released, I’ll look into adding a shim for earlier Neovim versions.

[2020-07-09 15:01] wbthomason commented on #1
@yoctocell I've added a shim to hopefully fix this issue in #2 - could you try out that PR and let me know if you run into other errors (e.g. if I missed a piece of functionality to shim)? Thanks!

[2020-07-10 06:56] yoctocell commented on #1
Sorry for the late response. When I tried out the PR I get a different error.

[code]

[2020-07-10 16:00] wbthomason commented on #1
Damn, ok. I thought those functions were included in 0.4.3.

Sorry for the hassle, but would you mind running the following sequence of commands and sending me the contents of `/tmp/vimfns`? That will let me see the full set of functions I need to add to the shim.

[code]

Of course, if `vim.inspect` fails, then it's probably out of scope to make `packer` work with 0.4.3, but I'm pretty sure that

[2020-07-10 17:19] yoctocell commented on #1
Thankfully `vim.inspect` works, here is the content of `/tmp/vimfns`.

[code]

[2020-07-10 22:10] wbthomason commented on #1
Thanks!

Wow, 0.4.3 is missing more things than I expected. I _think_ I've patched them all in that PR now; if you have a chance to give it a go and let me know if I missed something, I would appreciate it. Thanks!

[2020-07-11 07:25] yoctocell commented on #1
Unfortunately still an error, but it creates a new window split where it says "packer.nvim", so it is some progress. The error message is the following.

[code]

[2020-07-11 07:58] yoctocell commented on #1
It can install the plugins, but I still get error messages when running `PackerInstall`.

[code]

[2020-07-11 10:47] clason opened #3 "Configuration table is not handled correctly by init"
(Sorry for the vague title.)

It seems that the config table that is not correctly merged with the default values. I am following the example setup in the readme, except that I want to pass a table to `packer.init()`. However, this prevents the package handling functionality (install, update, etc.) from working; nothing happens. Specifically, if I pass
[code]
the new buffer is opened, but nothing

[2020-07-11 11:11] clason opened #4 "Plugin functions not available in init.vim"
I have a problem where functions provided by plugins loaded via `packer` are not available from `init.vim`.

For example,
1. `nvim-lsp` seems not to be loaded by the time that it's required in my `lua/lsp.lua`, which itself is `require`d in my `init.vim`:
[code]
This might be a problem with packages and lua in general, though.

2. `vimtex` provides a function `vimtex#toc#new`, which I use to defin

[2020-07-11 13:41] wbthomason commented on #1
Ah - if v0.4.3 doesn't have extmarks, then it might be impossible for `packer` to be compatible with that version, unfortunately. You could test this by running `:h nvim_buf_set_extmark`, but the errors seem to indicate that you don't have those functions.

I'll ask around to see if there's an easy way to patch this in, but (since extmarks are implemented in C, not Lua), I'm skeptical that it's po

[2020-07-11 13:45] wbthomason commented on #4
Strange - could you share your `plugins.lua` with me? If you aren't using any lazy-loaders, then I suspect this is an issue with getting the plugins actually installed. Have you called `packer.init()` before any `packer.use()` calls in your `plugins.lua`?

[2020-07-11 13:48] clason commented on #4
Sure! Here's my `plugins.lua`
[code]
No lazy-loading (apart from that by the plugins themselves). From `init.vim`, I just `lua plugins = require 'plugins'`.

[2020-07-11 13:50] wbthomason commented on #4
As one minor note, you will need to call `packer.compile(<SOME PATH ON RTP>)` to make sure your `after` loads work - sequencing implies lazy-loading since non-opt packages can't be manually loaded in a guaranteed sequence. That wouldn't cause the bug you're seeing, though.

I'll try to reproduce this on my end. Thanks for the report!

[2020-07-11 13:52] clason commented on #4
Ah, makes sense . What's the benefit of compiling, by the way?

Thanks for the plugin!

[2020-07-11 13:52] wbthomason commented on #4
Ah, one other question - since you shouldn't actually need to `require` plugins in your `init.vim`, I'm wondering if you've run `require('plugins').install()`?

[2020-07-11 13:53] clason commented on #4
Yes, the plugins are installed (and working -- sorry for the sneak edit to the comment!)

[2020-07-11 13:55] wbthomason commented on #4
The idea is that by compiling lazy-loaders, you can get faster startup by not needing to load `packer` unless you're explicitly performing plugin management operations, without losing the benefits of lazy-loading.

Typically, plugin managers like `vim-plug` generate the logic for lazy-loading at startup, but (in my experience) that imposes a nontrivial startup time cost. Typically (again, just in

[2020-07-11 13:56] clason commented on #4
Interesting. So how would this work with the example setup above?

[2020-07-11 14:00] wbthomason commented on #4
For your config, the generated code will be pretty simple - it'll basically be (other than a function that is used to perform more complex loads) just the lines:

[code]

which (when you call `plugins.compile(<SOME FILE>)`) will be put in `<SOME FILE>` and can be loaded during your startup.

For a more complicated example, you can see the file `packer` generates for me: https://github.com/wbthomas

[2020-07-11 14:02] clason commented on #4
Whoa! :)

I'll remove the `after`, then, since that's not what I actually need in this case. Simpler is better!

[2020-07-11 14:08] wbthomason commented on #4
Per your original issue: I can replicate the behavior with `vimtex` on my end, but it seems to be because the variable `g:vimtex_toc_config` isn't defined - the function exists and is available.

Looking through the `vimtex` code, this variable should be created by `vimtex#init()`, which should be called in `ftplugin/tex.vim`. Manually calling `vimtex#init()` at the start of your `CreateTocs` func

[2020-07-11 14:10] clason commented on #4
Yes, this works fine with `vim-plug`. I can also manually `require 'lsp'` after starting nvim (with packer-nvim) and get everything working; it's just that it doesn't work from `init.vim`. I've tried adding a `sleep` after the plugin loading, but that doesn't help.

[2020-07-11 14:14] wbthomason commented on #4
The `nvim_lsp` issue seems to be that `~/.local/share/nvim/site/pack/...` is not on the Lua `package.path` during init. That seems like a Neovim issue (from the docs: "When Vim starts up, after processing your .vimrc, it scans all directories in
'packpath' for plugins under the "pack/*/start" directory.  First all those
directories are added to 'runtimepath'.  Then all the plugins are loaded."), a

[2020-07-11 14:18] clason commented on #4
You are right, this is not an issue with `packer`, I realize this (only) now. Sorry! It seems that packages just don't play nice with a purely `vimrc` configuration...

How are you doing this? I couldn't quite work it out from your dot files...

Would putting everything in `opt` and explicitly loading it via `packloadall` help?

[2020-07-11 14:18] wbthomason commented on #3
Ah, I see what's going on here - there's an issue with the interaction between copying user-set values into the config table and the use of the `__index` metamethod to handle keys that haven't been overridden. I'll fix this shortly; thanks for the report!

[2020-07-11 14:24] wbthomason commented on #4
No worries - I'm going to see if I can put together a Neovim PR to fix this, since the behavior is unintuitive.

I'm not 100% sure why what I'm doing works whereas this approach does not, but: I tend to put all my plugin configuration/custom function definitions/autocommand definitions in `plugin/<plugin_name>.vim` and/or `autoload/<plugin_name>.vim`.

Doing this with your `vimtex` example works f

[2020-07-11 14:28] clason commented on #4
Not from `init.vim`, it seems. This might be a neovim issue that `init.vim` is loaded at a different time than  `.vimrc` in the packpath sequence?

Interesting, I'll check that out (but won't then `hover` and `definition` etc. not work until you've typed something?)

[2020-07-11 14:33] wbthomason commented on #4
To clarify, making everything `opt` and using `packaddall` doesn't work if you do `packaddall` in `init.vim`? If so, fascinating - that does seem like a bug/unexpected behavior with regards to `init.vim` and packages...

Yeah, it's definitely not perfect. A feature I've planned for `packer` (but haven't had time to implement yet) is time-based deferred loading (inspired by things Emacs and VS Code

[2020-07-11 14:38] clason commented on #4
Actually, it's a little more complicated -- there's `packadd` for loading one package from `opt`, and `packloadall` for loading all packages from `start` -- for whatever reasons this is not symmetric. This works to get `nvim-lsp` working, but not for `vimtex`. Moving those TOC functions to a filetype plugin would be an acceptable workaround, though. (I don't like scattering my configuration over t

[2020-07-11 15:07] #3 closed

[2020-07-11 15:10] clason commented on #3
Great, I really appreciate the quick help! (By the way, the symbols above might be a nicer default -- I found them more uniform and less "aggressive" than the current ones.)

[2020-07-11 15:14] wbthomason commented on #3
Hmm, yeah, I think I agree, actually. Thanks!

[2020-07-11 15:15] clason commented on #3
(a few less lines in my config :))

[2020-07-11 15:16] wbthomason commented on #3
Now pushed!

[2020-07-11 15:19] clason commented on #4
You're right, it seems that `nvim-lsp` takes significantly longer to load as a package. Strange:
[code]
vs. vim-plug
[code]
(the order of loading is different; I'm just comparing self-time).

[2020-07-11 15:32] wbthomason commented on #4
Right, that about matches what I've seen. I have no idea why that's the case - from the docs, my understanding of the packages feature was that it should be more or less equivalent to "normal" plugins for `start` packages. I'm poking around the `neovim` source to see if I can figure out what's different...

[2020-07-11 15:34] clason commented on #4
It seems better as an optional plugin, by the way: if I mark it as `opt = true` and `packadd!` it explicitly (and same for completion-nvim), I see
[code]

Another thought I had was to (ab)use the `setup` key to require the lsp setup after loading nvim-lsp, but that never seems to be called (server is not configured)?

[2020-07-11 15:37] clason commented on #4
Oh, and for reference:

[code]

[2020-07-11 15:41] wbthomason commented on #4
When you tried this, did you run `plugins.compile`? `setup` won't be called unless you've compiled lazy-loaders, but works for me when I do that.

I should really make the compilation process less manual; maybe adding a config key for a compile output file that, if present, will cause compilation to run automatically after install/update/sync.

[2020-07-11 15:42] clason commented on #4
Or at least a bit of documentation :)

Could you walk me through this? When do I compile, where should I put the result, and how should I use it?

[2020-07-11 15:45] wbthomason commented on #4
Well, that's embarrassing... I thought I had documented that. I'll add some docs to the README.

`compile` takes a path and saves its output to that path. The path should be on your `rtp`, and have `vim` as its extension.

For a concrete example, I use `plugins.compile('~/.config/nvim/plugin/packer_load.vim')`. Then, during startup, `packer_load.vim` gets sourced (because `~/.config/nvim/plugin` i

[2020-07-11 15:46] wbthomason opened #6 "Add documentation for compiling lazy-loaders"
Per #4, `packer.compile()` isn't actually documented (or at least not sufficiently).

[2020-07-11 15:48] clason commented on #4
OK, that works! But it adds `0.010` self-time to startup...

[2020-07-11 15:48] wbthomason opened #7 "Make lazy-loader compilation more automatic"
As mentioned in #4, it's inconvenient and confusing to have to call `packer.compile()` manually. This process should be made more automatic.

One option is to add a config key containing a path for the compiler output. If this key exists, `compile()` gets run automatically after all operations.

Additionally (as @tjdevries suggested on Gitter), perhaps the lazy-loader could check if the last modif

[2020-07-11 15:50] wbthomason opened #8 "Add time-deferred loaders"
Mentioned in #4 - make it possible to specify a plugin to be loaded after some delay (not based on an autocommand).

[2020-07-11 15:51] wbthomason commented on #4
`0.010` as compared to which alternative - `vim-plug`, marking as `opt` and manually `packadd`'ing, etc.?

[2020-07-11 15:52] clason commented on #4
marking as opt and manually `packadd`ing.

[2020-07-11 15:53] wbthomason commented on #4
Still, that's undesirable. In the manual `packadd` version, you were requiring the same LSP setup code (i.e. the additional cost is not just due to running that setup code?)

[2020-07-11 15:57] clason commented on #4
yes, the difference is between
[code]

and

[code]
(and _not_ requiring lsp manually). (This is without a buffer, so it's not actually loading)

[2020-07-11 16:00] wbthomason commented on #4
Ok. Thank you for all the help and quick replies here - I have some work cut out for me (I've made issues for most new items), and I'll report back here if/when I figure out a good solution for (1) the weird issue with `start` packages and paths/ftplugins and (2) the relative slowness of loading `start` packages.

[2020-07-11 16:05] clason commented on #4
Hey, it's the least I can do! Everything is working thanks to your help, so I'll keep test-driving it.

[2020-07-11 16:07] wbthomason commented on #4
Thanks, and please do file more issues if (realistically, as...) you encounter more bugs/pain points.

[2020-07-11 16:17] clason commented on #4
Will do! One thing I just noticed that the above workarounds don't seem to help with is with overriding a colorscheme: I have a few lines in my plugin like
[code]
which don't seem to get applied when I load the colorscheme via a package?

[2020-07-11 16:50] clason commented on #4
Just a brief update (and that's the last one, promised ;)):

I bit the bullet and (finally) moved most stuff out of my `init.vim` into separate files in `plugin`. Now everything works (of course), and I got a better profile of the complete lsp loading. Turns out sourcing the two lua plugins from `start` is in fact not much more expensive than from `opt` plus `packadd!` (~0.010 vs 0.008), and the t

[2020-07-12 11:03] yoctocell commented on #1
No worries, I appreciate your work!

[2020-07-12 18:46] tjdevries commented on #7
I think packer should formalize the "lua plugins" file in some way (probably by having some configuration file).

For example: `packer.init(plug_file)` or similar, and do some of the setup and command creation that most other package managers use.

[2020-07-12 21:31] tjdevries opened #9 "Weirdly, the first time I install, it saved to ~/.local/share/nvim/site/pac/"
It was weird... for some reason it saved to `pac` not to `pack`.

After I moved it, everything was good. So I've got no idea why that happened.

[2020-07-12 21:40] tjdevries commented on #1
There are nightly app images or other ways to download 0.5.0 if you want to from neovim/neovim. It's also generally pretty easy to build on most systems. Just as a drive-by note :)

[2020-07-13 15:12] wbthomason commented on #9
You mean when you first cloned the repo or ran `packer.install()`? If the latter...that's bizarre. Installing new plugins after the fact hasn't repeated the issue?

[2020-07-13 15:32] wbthomason commented on #9
It's possible that the code I had in place to remove the trailing slash from the package root could've caused this if the package root path didn't *have* a trailing slash (though, since it's processed with `fnamemodify(path, ':p')` just beforehand, I'm not sure how that's possible). I've replaced this with something more intelligent that should prevent incorrect truncations; hopefully that fixes t

[2020-07-13 15:54] wbthomason commented on #7
See #10 for part of this.

[2020-07-13 16:58] #6 closed

[2020-07-13 17:00] wbthomason commented on #4
It seems that there's something very strange with sequencing of package loading and `init.vim` sourcing... I have noticed similar issues with other package-based plugin managers (e.g. `vim-packager`), which is part of why I moved my config to the "almost everything in `plugin/`" setup.

[2020-07-13 17:01] wbthomason commented on #4
Ah, that's good! I'm glad it's working.

[2020-07-13 17:07] clason commented on #4
Yes, that was my take-away, too (see https://github.com/wbthomason/packer.nvim/issues/4#issuecomment-657082415 above) -- it's purely a packages and not a packer issue; my confusion stemmed from a) not being familiar enough (or, actually, at all...) with packages and hence b) fundamentally misunderstanding what packer does...

So feel free to close this issue; all that's left is a "maybe add a shor

[2020-07-13 19:17] carlitux commented on #4
Just to let you know, into gitter I get a reply that https://github.com/wbthomason/packer.nvim/blob/edfab0d155c7ee903cfa6cf03513e07de0198a38/lua/packer/plugin_utils.lua#L91 has a bug, needs to finish Lua code to get package loaded.

[2020-07-13 20:12] wbthomason commented on #4
@carlitux: Thanks! Yup, I think @tjdevries is referring in his response on Gitter to me asking about weird behavior with `packadd` from Lua (or maybe more people have asked about it too). I haven't seen it cause any issues in practice (for instance, I don't believe it could have caused the problems @clason reported here), but if you're experiencing bugs related to that weird Neovim behavior, pleas

[2020-07-13 20:30] carlitux commented on #4
I think it is same with this init.vim

[code]
I am getting the following error for vim and Lua code also
[code]
But only

[code]
and running manually

```:lua require('config')```

Works

[2020-07-13 21:02] wbthomason commented on #4
So, that is surprising, but I don't think it's due to `packer`.

The first line
[code]
only loads the `packer.nvim` plugin. Since there are no `plugin/` Vimscript files in `packer`, this has effectively no effect with regards to your next two lines (unless they `require` `packer`, etc.):

[code]

I can't be sure without reading your `init.lua` and `config.lua`, but I suspect that you'd observe `:l

[2020-07-13 21:54] tjdevries commented on #9
Well I fixed it myself manually by just changing the directory and it worked... which was weird. Figured I'd let you know even though I got it running. I was very confused as well.

[2020-07-13 21:55] tjdevries commented on #9
Can probably close though -- since it's working for me now (even before that commit)

[2020-07-13 21:56] tjdevries commented on #4
Maybe fixed by this:     sign define LspDiagnosticsErrorSign text=E texthl=LspDiagnosticsError linehl= numhl=

[2020-07-15 17:56] #9 closed

[2020-07-17 17:21] runiq opened #11 "Why `signcolumn=yes:2`?"
Just wondering: What is the point of `signcolumn=yes:2` in the packer.nvim window? I haven't ever seen any output in there…

[2020-07-20 08:52] clason opened #12 "Command to list installed plugins"
It would be useful (sometimes) to have a function that lists the plugins managed by packer together with some rudimentary information -- mainly whether it's a `start` or an `opt` plugin, and maybe the source (commit hash, branch, local dir...). As a bonus, it could show the full config dictionary when selected (just like the `update` command shows the git log after updating).

I saw there's alread

[2020-07-20 16:05] wbthomason commented on #11
Totally reasonable question - I think that was left over from an earlier version of the `display` module in which I was using signs to show operation status rather than writing symbols directly in the buffer.

I've changed this in 8a6e3b0; please let me know if you notice any regressions due to the change!

[2020-07-20 16:05] #11 closed

[2020-07-20 16:18] wbthomason commented on #12
Thanks, this is a good suggestion. I had thought about adding this earlier, but opted against for the first version.

I'll try to get to this soon, but PRs are always welcome! Implementing this will entail:
1. For each managed plugin, get installation status (installed or not, `start` or `opt`)
2. For each installed plugin, get VCS information (if available)
3. Open a display window
4. Render the

[2020-07-21 07:17] clason commented on #12
That's a fair point ;) I'll see if I can beat you, but I'll have to understand the code base better. 5. is probably best left for later.

Makes sense, thanks!

[2020-07-21 17:00] wbthomason opened #13 "Allow multiple plugin specs in a single call to use"
e.g. permit both of these styles:

[code]

(from @clason's suggestion on Gitter)

[2020-07-21 17:01] wbthomason opened #14 "Fix startup() to not require use()"
i.e. default to `packer.use` if the argument is `nil`

[2020-07-21 17:03] clason commented on #13
Ah, then you can have a startup check its first argument for a dict (which gets fed to `packer.use` key by key) or a user-provided function that is then called? First is for beginners/simple setups, second for intermediate/advanced use?

[2020-07-21 17:04] wbthomason opened #15 "Fix some issues in README"
Fix:
- https://cdn.discordapp.com/attachments/648808520996880384/735174936003477644/image.png
- Remove redundant `packer.reset()`

[2020-07-21 17:05] wbthomason commented on #13
Yeah - this actually enables a lot of different uses:
- You can do either function/table for `startup`
- You can have a single call to `use` with a table containing plugins you *always* want, then still use conditional logic calling `use` with individual plugins for those you only sometimes want
- You can mix and match the `startup` and traditional styles

etc.

[2020-07-21 17:06] clason commented on #14
Yep, that would help minimize confusion for novice users!

[2020-07-21 17:56] wbthomason commented on #4
This might have been fixed by a58f7ec while we're waiting on https://github.com/neovim/neovim/pull/12632 (thanks to @tjdevries for letting me know about `_update_package_paths()` as a temporary workaround)

[2020-07-21 18:02] tjdevries commented on #14
I don't understand this issue.

[2020-07-21 18:03] tjdevries commented on #14
[code]

This is what the readme should look like -- you don't need to "pass use" anywhere.

[2020-07-21 18:05] clason commented on #14
I think the point is the first line (`function(use)`); it'd be nice if the call could be `function() ...`

[2020-07-21 18:05] tjdevries commented on #14
You could use `_ENV`  to do this I think.

[2020-07-21 18:06] tjdevries commented on #14
Like this might work:

[code]

[2020-07-21 18:07] #15 closed

[2020-07-21 18:12] wbthomason commented on #14
@tjdevries https://github.com/wbthomason/packer.nvim/pull/16 is what I was intending to do; does that seem reasonable? I'm also not sure I understand the `_ENV` approach - doesn't that always use `packer.use`?

[2020-07-21 18:13] wbthomason commented on #14
Ah, wait, nvm - ignore my PR for the moment; I made a dumb mistake in misinterpreting the purpose of `user_func`.

[2020-07-21 18:55] wbthomason commented on #7
Hmm, the problem I'm running into with this at the moment is that the loader needs to know what code to run to initialize the set of managed plugins in order to recompile itself. This is one place that `packer`'s flexibility hurts it - that code could be a named function, a file, or a closure (so we might not even have access to it)...

[2020-07-21 19:04] #14 closed

[2020-07-21 19:04] tjdevries commented on #7
Yeah, you could provide a hook for determining if compilation is necessary and then `startup` could have a default hook ( like... idk? maybe something though :laughing: ) but at least with that one we have a specific way to set it up or not.

For example, you could save in `stdpath('cache')` a loadable string of the contents of `plugin` and compare that to the current `plugins` or similar.

[2020-07-21 19:08] tjdevries opened #17 "`PackerInstall` and other commands from `startup` should all you to pass in a particular plugin name"
`:PackerInstall tjdevries/colorbuddy.vim` should just install that. Would be a nice enhancement at some point that I just thought of.

[2020-07-21 19:10] wbthomason commented on #7
So, determining if the loaders are out of date (to an approximation) is pretty easy - `stat` the loaders file and the specification file, compare `mtime` values. The hard part is that - in the context of the compiled loaders - the table of plugin specifications generally has not been loaded, and it's hard to know how to generate that for the aforementioned reason.

A much easier improvement would

[2020-07-21 19:42] wbthomason commented on #17
Do you envision this as modifying your plugin specification file to include some record of you using the plugin? i.e. how does `packer` know that you want to use this plugin persistently across restarts of Neovim? It can detect that it's present by looking in your `packpath`, but without modifying the specification file it has no way to know what plugins in your `packpath` are old and need to be c

[2020-07-21 19:44] wbthomason commented on #13
Added in 16c75ea (seems to work for me, at least)

[2020-07-21 19:44] #13 closed

[2020-07-21 22:15] tjdevries opened #18 "If `open_fn` fails, there is no error warning displayed"
Had a bug in my `open_fn` and Packer just silently failed. Should probably use pcall or something and then grab the values out from there.

If it doesn't work, fall back to default maybe?

[2020-07-21 22:26] runiq commented on #11
Ah, I totally missed the comment where it said it was adapted from vim-packager.

Thanks! :)

[2020-07-22 00:38] tjdevries opened #19 "`require` format uses slashes"
I think it's better if we use `.` notation instead of `/` for requires. We should probably standardize on that.

I think `require('x.y')` makes a different module than `require('x/y')` btw

[2020-07-22 01:56] wbthomason commented on #11
Yup, though I kept it around for the aforementioned sign-based display (ended up not sticking with that route because it was slightly more complicated for no clear gain).

[2020-07-22 01:56] wbthomason commented on #18
Nice catch - there are probably a bunch of places I should be using `pcall`. I'll put together a patch.

[2020-07-22 02:04] wbthomason commented on #19
Sure, I don't have strong feelings on the style. Is there a semantic difference between the two, or just syntactic preference?

[2020-07-22 02:19] wbthomason commented on #18
Also, for posterity: this happens because errors in coroutines (apparently) get swallowed. I noticed this while debugging during initial development.

[2020-07-22 02:58] #19 closed

[2020-07-22 02:59] clason commented on #17
Yeah, I had toyed with the idea of key bindings for uninstalling plugins (moving from opt to start or vice versa) from the proposed `PackerList` display, but hit the same brick wall.

In principle, it could be stored in the compiled `plugins.vim`? (Which then would have to be parsed by `PackerList` as well, making things... thorny.)

[2020-07-22 04:20] Shougo commented on #17
The compiled file will be overwritten by `:PackerCompile`.
It should be separated file.

[2020-07-22 04:44] wbthomason commented on #17
Right; as @Shougo notes, (1) there's still no way for the compilation process to determine what plugins are stale or just "command installed", and (2) re-compiling the loaders will overwrite the additions.

This roadblock and the problem I'm having in #7 are making me believe that there ought to be some sort of plugin "manifest": a file (probably Lua) written on `install`, `update`, and `compile`

[2020-07-22 04:47] Shougo commented on #17
dein.vim has direct install feature like that.

[code]

[2020-07-22 04:54] wbthomason commented on #17
If I understand correctly, `dein` makes no attempt to add the direct-installed plugins to the user's plugin specification? That may indeed be the way to go.

re: functions vs. commands: I agree - `packer` is structured around functions rather than commands, with a convenience function `packer.startup` that defines some common commands for the user if they choose.

[2020-07-22 04:56] Shougo commented on #7
Hm.  But users can define autocommands for it.

`autocmd BufWritePost init.vim ...`

It can be automatically in packer.nvim, but it seems be complex and may have bug.

[2020-07-22 04:58] Shougo commented on #17
Yes.  So, user need to check direct installed plugins by `dein#get_direct_plugins_path()`.

It is better for me :-)

[2020-07-22 05:00] clason commented on #4
That doesn't seem to be the case for me unfortunately; I still get `packer not found` when trying to `require` my `plugins.lua` from `init.vim` (works fine if requiring manually after startup).

(The plugin is installed in `start`, not `opt`. Putting it in `opt` and calling `packadd` as in the README example works.)

[2020-07-22 05:11] Shougo commented on #4
@clason In first, you should create the minimal init.vim with your plugins.
We need to reproduce the problem to fix it.

You can check the script loading order by `:scriptnames`.

I think compiled vimrc is not loaded when loaded your plugin.

[2020-07-22 05:15] clason commented on #4
@Shougo This is continuing from the above description, but here's the minimal example:
init.vim:
[code]
plugins.lua (same as the example from the README, but with the first line commented out. note that `packer` is **not** installed in `/opt`, so `packadd` should actually error -- but it works if I uncomment the line)
[code]

[2020-07-22 05:21] Shougo commented on #4
Ah, I get it.  `start` packages are loaded when `VimEnter` timing(it is same with `plugin/` loading).
But please see `:help VimEnter`.

[code]

It is executed after vimrc.  So it is Vim/neovim feature.
If you need to call the plugin in init.vim, you should not use `start`.

[2020-07-22 05:23] clason commented on #4
But isn't that _very_ counterintuitive?

[2020-07-22 05:35] wbthomason commented on #4
Huh. I did not know that. That's very helpful to learn; thanks @Shougo! Though I agree with @clason that it is unintuitive that `start/` plugins cannot be used in `init.vim`, etc.

[2020-07-22 05:38] clason commented on #4
At least not without the `packadd`... I understand now that the commit only removes the requirement for the `vim._update_package_paths()`, not for the `packadd`. I wonder if it would make sense to (optionally) have `packer` `packadd!` all _start_ plugins (assuming that's a negligible cost for already loaded plugins).

[2020-07-22 06:11] Shougo commented on #4
Because, `:packadd` update `runtimepath` manually.

It is normal plugin behavior...
Users cannot use function in `plugin/*.vim` in `init.vim`.

[2020-07-22 06:13] Shougo commented on #4
If `packer.nvim` update runtimepath manually like `vim-plug` or `dein.vim`, the problem does not exists.
But it uses Vim/neovim package feature.  It depends on the feature behavior.

[2020-07-22 06:25] clason commented on #4
Yes, this is exactly what I'm talking about here: It's a discussion worth having whether `packer.nvim` should behave more like `vim-plug` (making plugins "just work" by managing the runtimepath) or `minpac` (which has the same approach -- and the same problems -- as `packer` currently).

I don't know what the right answer here is. Note that this is also a special situation for lua plugins, since t

[2020-07-22 06:34] Shougo commented on #4
It has.  Because, plugins must be loaded after vimrc in Vim.
The load is runtime level feature.
If Vim load plugins *automatically*, no timing in vimrc loading.
The plugins must be loaded after initialize in vimrc.

If user load plugins manually, plugins can be loaded in vimrc.  User know after plugin initialized.

[2020-07-22 16:10] clason opened #21 "Detail keybinding in update display not working with table"
Since the last refactor/improvement, pressing `enter` on an updated plugin in the list no longer shows the specific commits in that update. (It's a bit hard to test since it relies on actual changes in plugins.)

I suspect that this is due to the fact that I pass the plugins as a single table to the new `startup` function?

Here's the relevant lua code:
[code]

[2020-07-22 16:49] tjdevries commented on #19
I don't think there's a big difference, but neovim style is to use `.` notation.

[2020-07-22 16:49] tjdevries commented on #19
The main problem is having different styles in the same repo. I don't think it makes a difference on windows, but I haven't checked that though.

[2020-07-22 16:52] tjdevries commented on #18
Yeah, it is difficult to debug errors in some of the async stuff too... but that could be just be cause I don't understand it fully yet :laughing:

[2020-07-22 17:16] wbthomason commented on #21
Hmm. I was able to repro this once, but not any longer. Do you know what specific commit you were on when you first noticed the bug?

[2020-07-22 17:20] clason commented on #21
Not really, but it must have been one of those from yesterday. My first instinct was to bisect it, of course, but you can't test it without updates to a repro... (or does packer behave similarly if you have a local git repo? that would be easy to test then.)

[2020-07-22 17:27] wbthomason commented on #18
I added changes in d06c193 that properly handles errors in async code (rather than silently swallowing them). Hopefully that makes debugging easier!

[2020-07-22 17:28] #18 closed

[2020-07-22 17:30] wbthomason commented on #21
Well, you can simulate updates to a repo by going to the local clone and checking out an earlier revision (e.g. `git checkout HEAD~1`); `packer` will update accordingly. But I can't seem to replicate the error by doing that...

[2020-07-22 17:36] wbthomason commented on #21
Ah! I got it. I couldn't reproduce the issue because I accidentally fixed it lol.

In fixing #19, I missed a `require'packer/display'` in the keybinding for the detail display. As @tjdevries noted in #19, using `require` with `.` vs `/` loads different modules (from the perspective of the Lua module system), so the keybinding was loading a different version of the `display` module with no connecti

[2020-07-22 17:36] #21 closed

[2020-07-22 17:39] clason commented on #21
Yep, fixed, thank you! Accidental fix, best fix :)

[2020-07-22 18:22] tjdevries commented on #21
hehe :) the string inside of `require` gets literally put into `package.loaded` I think, so that's why I just force myself to only use the `.` notation style.

[2020-07-23 16:56] wbthomason opened #23 "Add vimdocs"
Document the exposed API, at the least

[2020-07-26 19:46] tjdevries opened #25 "Update not working in WSL"
[code]

I can investigate this some more later, not sure why this is happening.

[2020-07-26 19:46] tjdevries commented on #25
(but if you have any ideas, that'd be good to know 😆)

[2020-07-26 19:48] tjdevries opened #26 "Install freezes if not a valid git repository"
If you try and install an invalid repo using packer, the entire Neovim freezes and you can't do anything about it.

I was able to reproduce with `use 'asdfasdfasdf/asdfasdfasdf'`

(This is on WSL, I can check somewhere else later as well)

[2020-07-26 21:30] clason commented on #26
I just tested on macOS (using the table version of `startup`), and got a proper error message (no freeze)

[2020-07-27 03:55] wbthomason commented on #26
Hmm, yeah, I cannot reproduce this on Arch Linux. Maybe related to #25/WSL-specific?

[2020-07-27 04:40] Shougo commented on #26
It maybe git command freezes

[2020-07-27 04:54] wbthomason commented on #25
Can you give information on the plugin you were trying to install/update when you encountered this?

This is due to a bug with the `merge_output` utility function; it shouldn't be WSL specific, but it indicates that the process of handling checkouts for a plugin encountered errors. It'd be nice to track down why that happens too.

[2020-07-27 05:03] wbthomason commented on #25
I've fixed the bugs causing the symptoms here in 1bc5337 and a96f5f1, but I'm leaving the issue open for now to see if we can figure out why git is failing here (especially if it turns out to be related to #26).

[2020-07-27 05:05] wbthomason commented on #25
Also, the only explicit Windows-Linux difference is https://github.com/wbthomason/packer.nvim/blob/a96f5f1ec20b758b27defdec433c664d57d48abe/lua/packer/util.lua#L34-L39.

...now that I think about it, that probably shouldn't require on `jit`, since not all platforms will be using LuaJIT.

[2020-08-03 18:13] wbthomason commented on #25
(only marked as "can't reproduce" because I personally don't have a WSL environment in which to try and reproduce the issue)

[2020-08-03 20:34] #23 closed

[2020-08-08 20:01] tjdevries commented on #26
(I ended up just instaling ubuntu on my laptop because I was having some troubles with WSL... so it may be awhile before I get around to testing this :laughing: ) Not a high priority for me and user error in some ways anyway ;)

[2020-08-09 06:26] p00f opened #28 "Custom name"
How do I do the vim-plug equivalent of `Plug 'dracula/vim', { 'as': 'dracula' }` (ie install it in a folder named `dracula` or else it would be installed in a folder named `vim` because the repository is [https://github.com/dracula/***vim***](https://github.com/dracula/vim))

[2020-08-09 06:42] p00f opened #29 ""if" in requires"
Currently I have
[code]

I want to `require` ncm2/float-preview.nvim only if a particular global variable `g:xyz` is not set. How would I do that?

[2020-08-09 11:35] p00f commented on #29
Also, i don't have to mark `opt=true` manually if I have `ft={'xyz'}` right?

[2020-08-09 17:35] p00f opened #30 "Can't seem to figure out setup"
I get this on startup (imgur wasn't working)
https://drive.google.com/file/d/1RdXTqghguJYjODTaCUs_tqr5zZx2R1d6/view?usp=sharing
It is looking for stuff in the wrong places, so I'm obviously doing something wrong.
What I did:
1) `git clone https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/opt/packer.nvim`

2) My init.vim:
[code]
3) `.config/nvim/lua/plugins.lua`:
[code]

[2020-08-09 18:17] carlitux commented on #30
@p00f I don't know if calling twice startup is good.

- First after doing your setup open nvim again and run ex command PackerCompile, this will enable requires, config, and setup... Always remember this.

- requires on init.vim won't work as start packages run on VimEnter event so you need to setup config and setup options.

My setup

[code]

[code]

[code]

and you have to create `lua/config/lsp

[2020-08-09 19:20] p00f commented on #30
lsp.lua is from a plugin, treestitter.lua is created. They work fine when used with vim-plug

[2020-08-09 19:38] p00f commented on #30
Nah that still doesn't work

[2020-08-09 19:48] carlitux commented on #30
vim-plug use another approach, this use package feature of vim.

no, those files you have to create them in lua/config directory. or if you want chose another name and update the require in config

[code]

[2020-08-10 01:03] p00f commented on #30
Thanks, that seems to kinda work. How do I `require` like `lua require'colorizer'.setup()` from here:https://github.com/norcalli/nvim-colorizer.lua#installation-and-usage

[2020-08-10 05:24] p00f commented on #30
I understand this, but I can't move the whole plugin outside

[2020-08-10 06:34] p00f commented on #30
One more thing, I can't get completion to work with https://github.com/aca/completion-tabnine
`~/.config/nvim/init.vim`:
[code]
`~/.config/nvim/init.lua`: (copied from @carlitux 's comment)
[code]
`~/.config/nvim/luya/packages.lua`:
[code]
I have set completion-nvim to attach to every buffer like this (in dotfiles)
[code]
Now, if I have
[code]
completion works fine.

But as soon as I add `'tabnine

[2020-08-10 10:23] p00f commented on #29
I have this but it doesnt work (ncm2/float-previe.nvim gets added anyway)
[code]
(See [this](https://github.com/wbthomason/packer.nvim/issues/30#issuecomment-671187173) for my setup)

[2020-08-10 14:56] bryall commented on #25
i am getting this same error on Ubuntu when calling PackerUpdate. PackerInstall works as intended for me.

just starting to get into lua, is there an easy way to debug this to give more info?

[2020-08-10 15:17] bryall commented on #25
I was using git version 2.17.1, just upgraded to latest version 2.24 and did not get this error after upgrading. So I think this is a git version problem

[2020-08-10 16:09] wbthomason commented on #28
Right now, you can't easily do so (to be honest, I'd never understood the need for that feature in `vim-plug`, so I didn't implement it for `packer`...). That should be easy enough to add, though. I'll give it a look.

[2020-08-10 16:10] p00f commented on #28
Because `vim` would be a confusing name for a plugin haha

[2020-08-10 16:12] wbthomason commented on #25
@bryall Ah, that's good to know, thanks! I don't suppose you captured the error output from running `PackerUpdate`? I suspect the culprit will be one of the arguments to the commands `packer` uses to get the commits pulled in an update - something added after 2.17.1

[2020-08-10 16:14] wbthomason commented on #28
Yeah, I'd just never used a plugin with a name like that...

[2020-08-10 16:21] bryall commented on #25
it was the same error as @tjdevries in the original. the line number for git.lua was 206 and the the line number was the same for update.lua

[2020-08-10 16:40] wbthomason commented on #29
Assuming that by "gets added anyway" you mean "is loaded", that's because you have `float-preview.nvim` specified as a `start` plugin, not an `opt` plugin (see the docs on the built-in packages feature in Neovim for the definitions of those kinds of plugins; basically, `start` plugins are always sourced at startup, whereas `opt` plugins must be manually loaded).

Because it uses native packages ra

[2020-08-10 16:57] p00f commented on #29
Thanks, I'll try this

[2020-08-10 16:57] wbthomason commented on #25
Hmm, ok. I might have to try spinning up Ubuntu in a Docker container or something to replicate the error; I'm not seeing anything obvious that would cause this just from inspection. I've added a change

[2020-08-10 17:02] wbthomason commented on #30
Just to confirm, that `completion-nvim` setup works with `vim-plug` and you have run `PackerUpdate` or `PackerInstall` since adding `aca/completion-tabnine` to the `requires` table for `completion-nvim`?

Also @carlitux thanks for helping out!

[2020-08-10 17:08] p00f commented on #29
This line gives `E5108: Error executing lua .../nvim/pack/packer/opt/packer.nvim/lua/packer/compile.lua:216: bad argument #1 to 'ipairs' (table expected, got function)`

[2020-08-10 17:11] p00f commented on #29
Surrounding the RHS of `cond` with `{}` gives
[code]

[2020-08-10 17:14] wbthomason commented on #28
@p00f I've added this in https://github.com/wbthomason/packer.nvim/pull/31; could you check it out and confirm that the feature works as expected when you have a chance? Thanks!

[2020-08-10 17:15] wbthomason commented on #29
Did you update `packer.nvim` like I mentioned? Those are the bugs I fixed. Try running `:PackerUpdate` (assuming you have `packer` managing itself; otherwise just do `git pull` in the `packer` repo clone dir).

[2020-08-10 17:15] p00f commented on #30
yes, just checked both of these

[2020-08-10 17:24] p00f commented on #29
Yep

[2020-08-10 17:27] wbthomason commented on #29
Have you rerun `:PackerCompile` since making sure `packer` was updated?

[2020-08-10 17:30] p00f commented on #29
yes

[2020-08-10 17:31] p00f commented on #29
ok, after updating and surround RHS of `cond = ` with {}, it works

[2020-08-10 17:31] p00f commented on #29
Nope doesnt, so sorry :P

[2020-08-10 17:34] wbthomason commented on #30
Ah! I tried to replicate the issue and figured it out; you never ran `install.sh`.

Try making your `tabnine` config something like
[code]

[2020-08-10 17:37] p00f commented on #30
Big brain time

[2020-08-10 17:38] wbthomason commented on #29
Sorry, I can't reproduce this; using the latest `packer.nvim` `master` I get no errors with identical config.

Could you please tell me the specific commit of `packer` you're using, and send the contents of `~/.config/nvim/plugin/packer_load.vim`?

[2020-08-10 17:44] p00f commented on #29
[code]

I dont have such a file, my setup is like [this](https://github.com/wbthomason/packer.nvim/issues/30#issuecomment-671187173)

[2020-08-10 17:51] wbthomason commented on #29
If you don't have a file like `packer_load.vim`, then you haven't run `PackerCompile` (which you clearly have or you wouldn't be getting these errors). You can specify an alternate location for the compiled loaders file in your setup, but (from the link) it doesn't seem that you have.

[2020-08-10 17:52] p00f commented on #29
I have `~/.config/nvim/plugin/packer_compiled.vim`

[2020-08-10 17:53] p00f commented on #29
https://del.dog/grorapetuh

[2020-08-10 18:01] wbthomason commented on #29
Oh, derp, my bad. I forgot that the default path is different now.

That file has an empty conditional loads section. Again, sorry for all the hassle, but could you please do the following:
1. Put the specification for `float-preview` to the following:
[code]
2. Exit and restart Neovim
3. Run `PackerCompile`
4. Exit and restart Neovim

After 4, if you still see errors or don't get the expected con

[2020-08-10 18:02] #28 closed

[2020-08-10 18:10] p00f commented on #29
packer_compiled: https://del.dog/lunarfotam, error `E5108: Error executing lua .../nvim/pack/packer/opt/packer.nvim/lua/packer/compile.lua:216: bad argument #1 to 'ipairs' (table expected, got function)`

[2020-08-10 18:10] p00f commented on #29
pacakges.lua :+1:
[code]

[2020-08-10 18:14] p00f commented on #29
`packer.nvim` 's `git log -1` :
[code]

[2020-08-10 18:17] wbthomason commented on #29
I'm very confused. You seem to be on a commit after the fixes, but line 216 of `compile.lua` (i.e. where the error is being reported) doesn't call `ipairs`; that happens on line 218, and getting the error on 216 seems to imply that the version of `packer.nvim` you have is not up to date...

[2020-08-10 18:18] wbthomason commented on #29
Wait, I might know what's happening here.

Is there any chance you have **two** clones of `packer`? Maybe one in `~/.local/share/site/nvim/pack/packer/start` and one in `~/.local/share/site/nvim/pack/packer/opt`? From #30 I see that you initially cloned into `opt`, but here I see you're using `packer` as a start plugin. If the `opt` version is out of date and being loaded first for some reason, th

[2020-08-10 18:25] p00f commented on #29
It isn't there

[2020-08-10 18:26] p00f commented on #29
Maybe I should nuke `~/.local/share/site/nvim/pack` and cleanly install it again

[2020-08-10 18:27] wbthomason commented on #29
Fascinating, by which I mean "very confusing".

Could you please show me the contents of `~/.local/share/site/nvim/pack/packer/opt/packer.nvim/lua/packer/compile.lua` from lines 210-220?

Or nuking should work, but I'm super confused by the current state of things.

[2020-08-10 18:33] p00f commented on #29
I think this would clarify things `tree /home/chinmay/.local/share/nvim/site/pack/packer -L 2`
[code]

[2020-08-10 18:42] wbthomason commented on #29
Yes - sorry, I meant the contents of the **file** `~/.local/share/site/nvim/pack/packer/start/packer.nvim/lua/packer/compile.lua` from lines 210-220

[2020-08-10 18:53] p00f commented on #29
line 210 is blank
lines 211-220:
[code]
line 221: `end`

[2020-08-10 18:54] p00f commented on #29
(fresh clone)

[2020-08-10 18:58] wbthomason commented on #29
Ok, that's clearly right....
If you delete `packer_compile.vim`, restart Neovim, and re-run `PackerCompile`, you still get the same error? I will be even more confused if that's the case...

[2020-08-10 19:05] p00f commented on #29
yep same error

[2020-08-10 19:11] wbthomason commented on #29
Bizarre. This really seems to imply that you have a second copy of `packer` somewhere; from the snippet you sent me, it should be trivially impossible for `plugin.cond` to be of type `function` in the call to `ipairs`.

If you run `:messages` in Neovim after getting the error, does it show you the full path to the `compile.lua` file which has the error on line 216?

[2020-08-11 01:41] p00f commented on #29
/home/chinmay/.config/nvim/pack/packer/opt/packer.nvim/lua/packer/compile.lua

[2020-08-11 01:45] p00f commented on #29
nuked `/home/chinmay/.config/nvim/pack/` and everything is fine

[2020-08-11 01:46] #29 closed

[2020-08-11 13:23] wbthomason commented on #29
Ah! So, you *did* have a second copy of `packer`, which was causing things to break. It was just in `~/.config/nvim/pack/packer/`, not in the more standard install location of `~/.local/share/nvim/site/packer/`.

I'm glad things are working; sorry for all the hassle!

[2020-08-11 14:34] p00f commented on #29
Now that i think of it, I don't even know how it came there

[2020-08-12 10:50] p00f commented on #30
How is `ft` supposed to work?
I have 2 plugins
 - `bakpakin/fennel.vim` which is syntax highlighting for `fennel`, specifed as `{'bakpakin/fennel.vim', ft = 'fnl'}`
 - `iamcco/markdown-preview.nvim` which is - well - markdown preview , specified as `{'iamcco/markdown-preview.nvim', run = 'cd app && yarn install', cmd = 'MarkdownPreview', ft = {'md', 'mkdn', 'markdown'}, config= 'vim.cmd[[MarkdownP

[2020-08-12 10:51] p00f commented on #30
PS -there's a typo in the quickstart section of the readme - you forgot to close `'` after `config = 'vim.cmd[[ALEEnable]]`

[2020-08-12 12:30] wbthomason commented on #30
`ft` loads plugins when any of the given filetypes are set. For https://github.com/bakpakin/fennel.vim, I suspect you're not getting any highlighting because that plugin (via its `ftdetect` script) **defines** the `fnl` filetype. So, without that plugin loaded, no file ever gets the `fnl` filetype set.

The problem with your `markdown-preview.nvim` config is a subtler one, but has to do with how t

[2020-08-12 14:59] #30 closed

[2020-08-12 17:56] p00f opened #32 "Feature request - "if not" in ft"
For example i would not want to load an indent guide plugin for lisp files because of this:
![image](https://user-images.githubusercontent.com/36493671/90049999-3c985000-dcf3-11ea-8fdd-6d01af898f8a.png)

[2020-08-12 20:37] wbthomason commented on #32
So, this is like a negated filetype pattern? Neovim makes it a bit annoying to do that, as far as I know, but maybe there's some hack with e.g. a `FileType *`  pattern that runs a function to check the filetype. That's super ugly and not very efficient, though.

I'll think more about how to do this, but ideas/examples from other plugins/PRs would be welcome.

[2020-08-12 23:38] p00f commented on #32
This plugin is the first i know of to allow loading based on filetype

[2020-08-15 01:34] PatOConnor43 commented on #4
I ran into this issue when trying to set up packer + nvim_lsp. I opted to steal this from @tjdevries 's [xdg_config repo](https://github.com/tjdevries/config_manager/blob/master/xdg_config/nvim/after/plugin/_load_lua.vim).

With that, all my requires in other lua files seem to work just fine. Here is a stripped down gist that describes my current set up.
https://gist.github.com/PatOConnor43/e6f57c

[2020-08-15 01:36] carlitux commented on #4
Already handled in this way https://github.com/wbthomason/packer.nvim/issues/30, could help to have new ideas

[2020-08-15 13:12] p00f opened #33 "Does it do shallow clones?"
Because of this:https://github.com/hardcoreplayers/dashboard-nvim/issues/14, I had to revert to an earlier commit but I couldn't.
`git log -1`, `git log -2`, `git log -3` all show only the latest commit

[2020-08-15 15:58] clason commented on #33
Yes, just like `vim-plug` it defaults to a shallow clone (`--depth 1`), but this is configurable (see the config in the README).

In fact, this raises a related point: would it make sense to (optionally) _keep_ the shallow clone shallow when updating (using, e.g., the method in https://stackoverflow.com/a/27844773)?

Conversely, is there a way to support rolling back updates? (Clearly, at some poi

[2020-08-15 16:13] p00f commented on #33
Thanks, this was just a question (shallow clone or bug?). I don't know if I want full clone, so I'm closing this

[2020-08-15 21:05] wbthomason commented on #33
@clason Update rollback is something I would like to add but haven't gotten around to, yeah. I should look at how `vim-plug` does it; it probably won't be too involved.

[2020-08-15 21:12] clason commented on #33
@wbthomason It doesn't look like it; just do `git reset --hard` and checkout if asked: https://github.com/junegunn/vim-plug/blob/13ea184015c30be5160ae285aedc0eaec0c72e6c/plug.vim#L2635

(Although that seems a bit simple -- what if you pull multiple commits? Better probably to save the current commit before pulling and then reverting to that.)

[2020-08-15 21:25] wbthomason commented on #33
`packer` already has knowledge of the last "good" commit (used to compute the commit log of the diff), so it should be even easier - just check that revision out.

[2020-08-15 21:26] wbthomason commented on #33
Hmm though shallow cloning may make what you suggest necessary... I'll try to look into this early next week.

[2020-08-15 21:29] clason commented on #33
Oh? I'd assumed that is only a problem if you want to go back past the first checkout -- which isn't really relevant for rolling back an update (to an already checked out repo)?

[2020-08-15 21:34] wbthomason commented on #33
Ah, sorry, I was not at all clear - I was thinking about the case with the "maintain a shallow clone" technique from the StackOverflow post you linked. There, we would need to allow a reversion before "cleaning up" the repo after an update.

[2020-08-15 21:38] clason commented on #33
Oh, right, yes, I forgot about that part -- I didn't think one could have both, and rollback is more useful than saving a few Kb in the long run.

But what you could do is shallow to the _previous_ last known good commit, so the repo always has all commits between the previous and the current update, but not arbitrarily back? (Could be configurable to the last X updates back, but I'm not sure that

[2020-08-16 01:23] #33 closed

[2020-08-17 16:36] wbthomason commented on #33
Added this in 83d1115. You can now press 'r' on an updated plugin in the results window to revert its update.

I should really also add something to display the keybindings for the results window/optionally configure them.

[2020-08-17 16:37] wbthomason opened #34 "Make results window keybindings configurable"

[2020-08-17 16:38] wbthomason opened #35 "Document results window keybindings and make display function"
There are three keybindings made in the results window to quit (q), show more info (<cr>), and revert an update (r). These should be (1) documented and (2) there should be something printed in the results window notifying users that the keybindings exist.

[2020-08-17 17:16] clason commented on #33
Ooh, and if you do, maybe add something like `<shift-cr>` to show _all_ details at once? (I usually want to do see all of them anyway.)

[2020-08-17 17:49] wbthomason commented on #33
Good idea!

[2020-08-17 17:49] wbthomason opened #36 "Add results window keybinding to toggle all details"
Per https://github.com/wbthomason/packer.nvim/issues/33#issuecomment-675004825

[2020-08-28 12:21] clason opened #38 "Requirements of optional plugins should be optional by default"
This is a minor thing, but would it be possible to make `require`d plugins inherit the requiring plugin's `opt` flag (i.e., if the original plugin is marked `opt = true`, all `require`d plugins should be in `opt` as well without having to specify it)?

[2020-08-28 14:09] wbthomason commented on #38
That's a great point, yeah.

[2020-08-28 15:02] wbthomason commented on #38
One nuance of this (mostly as a note to myself) is that implementing this means that all `require`s of an `opt` plugin that is `opt` because of a lazy-load keyword (i.e. as opposed to being manually marked `opt`) need to be automatically loaded after the parent plugin in the lazy-loader.

[2020-08-28 16:29] bfredl opened #39 "`use '~/dev/path/'` does not work"
expected behavior:
---

`use '~/dev/path/'` should do the same thing as `use '~/dev/path'`

actual behavior:
---

it does not.

[2020-08-28 16:45] #39 closed

[2020-08-28 16:46] wbthomason commented on #39
Fixed in my testing; please let me know if you're still seeing this!

[2020-08-30 08:09] bfredl opened #40 "wrong github package name leads to UI freeze"
I misspelled an `use 'githubuser/pakcage'` and the UI locks up with `Username for 'https://github.com':  1 / 5 plugins` message.
It should give an error message instead.

[2020-08-31 11:42] wbthomason commented on #40
Thanks for the report! I'm having trouble reproducing this - would you mind telling me the specific typo you made? For instance, testing with
[code]
fails to install as expected, without freezing the UI.

I'm wondering if your typo accidentally stumbled upon a private repo name, which could make Git prompt for authentication?

Regardless, I should add some timeout/job stopping logic for installs (

[2020-08-31 14:59] wbthomason commented on #40
I'm wondering if this is related to #26 - I'm still not able to reproduce either issue, but I've pushed a timeout feature in fd3a94f which should hopefully help. Could you please give it a try and let me know if it resolves the issue?

I still need to add documentation for the associated new config option (`config.git.clone_timeout`), but the default timeout is 60s (taken from `plug.vim`'s default

[2020-09-04 17:30] clason opened #41 "Ability to lock plugins"
It may be desirable to prevent a plugin from updating; for example, if it follows APIs from neovim HEAD too closely and one doesn't want or is not able to update neovim itself (immediately). This could be done via a new `lock` option that keeps a plugin installed and managed (in contrast to `disable`), but skips it when `sync()` is called.

[2020-09-05 08:13] bfredl opened #42 "it hangs when misspel github package name"
I did `use 'vim-cnof-live/pres.vim'` and it freezed up. I would expect no freeze and an async error message a few secs later when `git` gives up.

[2020-09-05 17:50] TimUntersberger opened #43 "Can't install plugins"
**init.vim**
[code]

**lua/plugins.lua**
[code]

When I run `:PackerCompile` followed by `:PackerInstall` it fails to install both plugins.

I am using `NVIM v0.5.0-659-g7b1b271f4` on `Windows 10`.

Can I somehow provide you with some logs?

[2020-09-06 03:50] wbthomason commented on #42
How long did you wait? Clones should time out after the value of `config.git.clone_timeout` (...which I now realize I never added to the docs, whoops), which defaults to 60s (based on the timeout value used in `plug.vim`). The freeze is bizarre, though - the entire editor froze up?

[2020-09-06 03:51] wbthomason commented on #43
Fascinating. Do you have `packer` cloned to somewhere on your `packpath`? What does happen when you run those commands?

[2020-09-06 04:05] wbthomason commented on #42
I also cannot reproduce this on my machines....exactly what you describe happens for me....

[2020-09-06 05:20] p00f opened #44 "Error on :PackerUpdate"
After b11f288cf3d632099cd41414783e3639571a14b6 I get
[code]
on `:PackerUpdate`.

Checking out to the previous commit fixes it, so I don't think I messed something up

[2020-09-06 05:22] bfredl commented on #42
ok, I will try again today..

[2020-09-06 06:08] bfredl commented on #42
yes it hangs on `username for https://github.com/xx/yy` message (the entire neovim UI)

[2020-09-06 06:09] bfredl commented on #42
it unhangs after 60s yes, but neovim should not freeze during this minute.

[2020-09-06 07:04] TimUntersberger commented on #43
I tried to see what happens exactly when i run `:PackerInstall`, but going from running the command to failed installation is so fast that I can't really see what is happening. I do notice that it is cloning the repo.

I cloned `packer` into `%LOCALAPPDATA%\nvim-data\site\pack\packer\opt\packer.nvim`.

After looking through the folders I found that `packer` is now downloaded twice (even though one

[2020-09-06 07:06] TimUntersberger commented on #43
Another thing I don't really understand is, why do you need to do

[code]

and not just

[code]

[2020-09-06 08:13] TimUntersberger commented on #43
I think I found the problem.

![image](https://user-images.githubusercontent.com/32014449/92321340-6fe7a980-f029-11ea-8a64-30791979ee9c.png)

As you can see `packer` assumes the url is `https://github.com/morhetz\\gruvbox`.

[2020-09-06 08:28] TimUntersberger commented on #43
I fixed it by changing `plugin_utils.lua`. I can open a PR later today.

Also can you update the README?

Running

[code]

when you also let packer manage itself results in packer being cloned twice. Once manually and once automatically.

If you change the recommended way to

[code]

`packer` wouldn't have to reclone itself right?

[2020-09-06 09:13] TimUntersberger commented on #43
After trying to rewrite my config using `packer` I noticed that nothing really works for me on Windows.

[2020-09-06 13:30] wbthomason commented on #44
Ok, this is probably a bug with the shim introduced to deal with the extmarks API change. Could you send me your Neovim version?

[2020-09-06 13:31] wbthomason commented on #42
Agreed; I'll look into why it's freezing. Could you post your .gitconfig, since I can't seem to replicate the behavior on my system?

[2020-09-06 13:39] wbthomason commented on #43
Sorry about that; I don't have a Windows machine, so I haven't been able to test much of anything on Windows. If you're willing to make issues for the problems you've observed, that would be great, but no worries if it's too much of a hassle.

Thanks for your PR with the URL fix; I'll merge that as soon as I'm back at my computer later today.

Your README comment is indicative of a different bug t

[2020-09-06 13:43] p00f commented on #44
`NVIM v0.5.0-654-g3acfefb63`

[2020-09-06 13:57] p00f commented on #44
ie this https://github.com/neovim/neovim/commit/3acfefb63ee70c8eac13bf6b308a0e73e6fb8007

[2020-09-06 14:17] TimUntersberger commented on #43
I was thinking about just fixing all of the issues I am encountering in my PR.

No worries.

It is the same as on linux.

[2020-09-06 14:47] TimUntersberger commented on #43
I am going to list the problems I found while fixing the problems here.

**Note**: I will be updating this comment as I fix more things.

### `vim.fn.expand` is not pure

In the manage function of `packer.lua` you assumed that the `<username>/<repo>` doesn't get modified, so you only split with `/`. This won't work because `vim.fn.expand` modifies the given string.

[2020-09-07 03:27] #44 closed

[2020-09-07 03:27] wbthomason commented on #44
@p00f: Thanks for the report; it should be fixed now! (at least, I can no longer reproduce the bug on that commit)

[2020-09-07 03:29] wbthomason commented on #43
Thank you! Taking a look now.

[2020-09-07 03:30] wbthomason opened #46 "Add persistent logging"
Basic asynchronous logging to a tempfile or similar would help a lot with debugging.

[2020-09-07 03:45] wbthomason opened #47 "Refactor plugin full vs short names"
As noted in #45, there may be a bug on Windows in the path separator used for full names. Additionally, the full/short name system is annoyingly ad hoc and has caused bugs in the past. It should be refactored to more cleanly separate and identify the purposes of the two "types" of plugin name.

[2020-09-07 03:57] wbthomason opened #48 "Profiling and performance tuning"
Most of the computational cost of `packer` goes to running `git`, etc. However, it would be worthwhile to profile major components like `manage`, `compile`, the generated lazy-loader code (in some representative cases), etc. to see if there's anywhere we can improve performance.

It would also be worthwhile to see if the loading time of `packer` can be decreased, i.e. by making modules lighter to

[2020-09-07 03:59] wbthomason commented on #42
Hmm. I'm shooting in the dark with this theory as I still cannot reproduce the bug, but I wonder if this would be caused by not passing a `stdin` fd to the `luv.spawn` call used to start `git`? Since you mention that it hangs on a prompt for username...

[2020-09-07 05:24] bfredl commented on #42
@wbthomason I would guess you have to override the stdin explicitly. We should make our `vim.loop` documentation clearer about this.

[2020-09-07 07:09] p00f commented on #44
Fixed, thanks

[2020-09-07 17:54] #43 closed

[2020-09-09 18:57] TimUntersberger opened #49 "vim.fn.executable is not reliable"
I don't really know why this it the case, but if you don't have `set shell=powershell` on windows, then vim thinks that `mklink` is not executable, even though it is.

I guess `mklink` is not an executable in `cmd`, but in `powershell` it is? I am really confused.

I'll try to find an alternative.

To be honest, I think you can assume that `mklink` exists on Windows right?

Update:

I now tested a

[2020-09-09 19:31] wbthomason commented on #49
If you run `:lua vim.fn.executable('mklink')` as a manual command, does it output correctly?

[2020-09-09 19:33] TimUntersberger commented on #49
I tested using `:echo executable('mklink')`

[2020-09-09 19:45] wbthomason commented on #49
And this does not return the expected result?

[2020-09-09 19:46] TimUntersberger commented on #49
It returns `0`

[2020-09-09 20:08] wbthomason commented on #49
Hmm, ok. Might be an upstream bug?

I'd be pretty comfortable assuming `mklink` exists and then erroring out if that turns out to be incorrect. What do you think?

[2020-09-10 06:12] TimUntersberger commented on #49
I think that this would be ok to do 👍

[2020-09-14 15:24] comfortablynick opened #50 "Allow setting opt by default"
I've been using vim packages for some time and have almost all plugins installed as `opt = true`. I do `packadd!` in init.vim or `packadd` elsewhere as needed. It makes it easy to disable plugins in my experience.

Is there a way to do this with packer? There may be some fancy lua trick that can be used that I'm not aware of. If not, can this be added as a configuration option? ([vim-packager](htt

[2020-09-14 15:38] wbthomason commented on #50
There currently isn't a great way to do this (you could use some Lua metatable trickery, but it's more effort than it's worth). I'd be happy to add an option for this, though.

[2020-09-14 17:37] #38 closed

[2020-09-14 17:37] #41 closed

[2020-09-14 17:37] #49 closed

[2020-09-14 17:37] #50 closed

[2020-09-14 17:38] wbthomason commented on #42
I pushed a commit just now adding this. It doesn't break anything on my end, but I have still never been able to repro the issue here (or in #40 or #26, which I think are duplicates of this), so I'm not sure if it fixes the issue.

[2020-09-14 17:39] wbthomason commented on #41
I added this feature (though I still need to document it). @clason please let me know if this isn't what you wanted/if you run into issues!

You should see that plugins using the `lock` keyword in their specification are silently skipped during updates (but not installs!)

[2020-09-14 17:40] wbthomason commented on #38
I added the `transitive_opt` option to implement this. It seems to work in my testing; @clason please let me know if you see bugs or if this isn't what you had in mind.

[2020-09-14 17:42] wbthomason commented on #50
I added the `opt_default` option to implement this feature; it seems to work in my testing - @comfortablynick please let me know if you experience bugs or if this isn't what you had in mind.

[2020-09-14 17:43] clason commented on #41
Yes, that looks good, thanks!

[2020-09-14 17:47] clason commented on #38
Looks good and seems to work well! One question: should it also apply to `after`? (I have to admit I'm not exactly sure about the full differences between `requires` and `after`...)

[2020-09-14 17:51] wbthomason commented on #38
No, but perhaps I can clarify this in the docs:

`after` only controls sequencing: you can use it to set up a chain of lazy-loads, e.g. by defining a trigger for one plugin and specifying that a set of other plugins are `after` the original.

`requires` is meant to specify dependencies which should also be installed; it's largely syntactic sugar to make it easier to organize plugins. All it does i

[2020-09-18 08:24] gagbo commented on #25
Same error still in git.lua, also running git 2.17.1 on Ubuntu

[2020-09-18 18:57] wbthomason commented on #36
@clason: Does b4a01a7 do what you wanted in the linked comment? It's not *exactly* the same (i.e. it just automatically displays the info if you have the relevant config option set, and there's currently no "toggle all" keybinding), but it does provide an easy way to just see all update info without manually toggling each plugin.

[2020-09-18 19:29] wbthomason commented on #25
@gagbo On the latest `packer` commit? There have been some fixes to the way `packer` works on Windows since the last activity on this issue.

[2020-09-18 19:32] wbthomason commented on #25
@gagbo The error is still on line 206 in `git.lua`?

[2020-09-18 19:56] clason commented on #36
@wbthomason I think that'll do fine :) Thanks! (Of course, I'll have to wait for the _next_ update to really test it...)

[2020-09-18 19:58] wbthomason commented on #36
Great, thanks! And yeah, I had to do a bunch of manual "downgrades" to test during development...

[2020-09-18 19:58] #36 closed

[2020-09-18 21:30] gagbo commented on #25
yes it is, and I was testing on Bionic Beaver (18.04)

The weird thing is that it worked at least once (but I don't remember when or how) since my packer path is populated

[2020-09-18 21:32] gagbo commented on #25
Sorry it's line 212 I'll edit

[2020-09-20 07:12] glepnir opened #51 "Feature Request support hook_source ?"
Dein has hook_add hook_source etc. check the doc.packer has setup seems like `hook_add`.  Add hoo_source is more better?

[2020-09-20 08:27] #51 closed

[2020-09-20 23:58] wbthomason commented on #51
Could you explain the requested feature a bit more? I'm not sure I understand.

Packer currently has `setup` (code to run before a plugin is loaded) and `config` (code to run after a plugin is loaded) - do these do what you want?

[2020-09-21 04:08] Shougo commented on #51
I think `setup` same with `hook_add`.  And `config` same with `hook_source`.

[2020-09-21 04:49] glepnir commented on #51
yes  I already found it so I closed this issue. Don't mind.  But another question. If custom package_root..the plugin doesn't loaded.  @wbthomason

[2020-09-21 04:55] wbthomason commented on #51
What path did you use for your custom package root? It must be on `packpath` - if it is, can you post your config so that I can try to replicate the issue? Thanks!

[2020-09-21 05:30] glepnir commented on #51
[code]

[2020-09-21 14:58] wbthomason commented on #51
Hmm. I don't believe that changes to `runtimepath` are also added to `packpath`. Could you try the following and tell me if you still have problems?

[code]

I'll note that you also do **not** want to call `packer.install()` every time - that clones a plugin if it's missing. I've removed that line from your snippet.

[2020-09-21 15:00] glepnir commented on #51
@wbthomason  just a test code . I know that.

[2020-09-21 15:27] #25 closed

[2020-09-21 15:27] wbthomason commented on #25
Hmm. I still do not understand why this is happening, but I added a `nil` check to the function being called there, which will hopefully fix the problem. Please reopen if you're still seeing the error messages (or any others).

Thanks!

[2020-09-21 16:59] gagbo commented on #25
The new display thing was actually more helpful, I'll open another issue I think

[2020-09-21 17:03] gagbo opened #52 "Ubuntu bionic has a too old git"
Output of `:PackerSync` and `:PackerUpdate` includes this for all my packages :

[code]

From navigating the [manual page](https://git-scm.com/docs/git-branch/2.23.0) it looks like `--show-current` is only for `2.23+` and I have `2.17` currently on this machine

[2020-09-21 17:04] gagbo commented on #25
Linking for the record #52

[2020-09-21 17:28] wbthomason commented on #52
Ah, nice find! That's frustrating; Bionic is a LTS release, right?

I'll need to look into alternatives for `show-current`, or at least way to detect `git` version.

Of course, if we end up switching over to something like @bfredl's potential `libgit2`, then maybe this ceases to be a problem?

[2020-09-21 17:55] gagbo commented on #52
yeah Bionic is LTS, it's the codename for 18.04 and I think LTS are 5 year support ? So it would be maintained until 2023

[2020-09-21 18:01] wbthomason commented on #52
@gagbo Could you please try `git rev-parse --abbrev-ref HEAD` in some git repo on your machine and let me know if it prints only your current branch?

[2020-09-22 07:10] glepnir commented on #51
@wbthomason  no fix. check `set packpath?` has value.

[2020-09-22 07:54] gagbo commented on #52
It does work well

[2020-09-22 14:20] wbthomason commented on #51
Ok. I've played around with your example, and the problem is with the native packages feature rather than `packer`, I think.

If you're trying to do this in your `.vimrc` or `init.vim`, then the problem is that, with native packages, Neovim only sources files **after** sourcing your `.vimrc`. So, when you try to `require('packer')`, Neovim hasn't added its path to `package.path` (although, sidenot

[2020-09-22 14:26] glepnir commented on #51
This looks terrible. I don't use init.vim to manage configuration. All my configuration is under the lua file. I have to follow a fixed folder to make it work.

[2020-09-22 15:01] wbthomason commented on #51
Unfortunately, I think that's just part of how the native packages feature works (which, I agree, is not ideal).

Does your use case work with other plugin managers based around native packages? If so, then it may be a `packer` bug.

[2020-09-22 15:11] glepnir commented on #51
Yes. It can works with dein.

[2020-09-22 21:43] Shougo commented on #51
dein.vim doesn't use native package features.
So it works.

[2020-09-23 08:33] clason opened #53 "Bootstrapping packer"
I've seen several questions about how to do an unsupervised installation of neovim (not all specific to packer); a core question here is how to ensure from your `init.vim` that all your plugins are installed on a fresh system.

Vim-plug has [this suggestion](https://github.com/junegunn/vim-plug/wiki/tips#automatic-installation), and it would be nice to provide a similar snippet for packer.nvim tha

[2020-09-23 15:45] wbthomason commented on #53
I just saw this discussion in Gitter; I love the idea. I'd be happy to accept a PR for this - otherwise, I'll sketch up a snippet myself (shouldn't be too involved - maybe validate requirements (i.e. do you have git, is your Neovim built with LuaJIT, etc.), run a `git clone`, make sure `rtp` (and therefore `package.path`) has the right directory on it)

[2020-09-23 15:45] wbthomason commented on #53
It's a bit of annoying duplication, but it might be worthwhile to write both Vimscript and Lua snippets.

[2020-09-23 15:46] wbthomason commented on #51
Yes, as @Shougo said, `dein` isn't based on native packages.

[2020-09-24 04:09] glepnir commented on #51
yep. so  i want to know does packer will be support?

[2020-09-25 16:55] wbthomason commented on #51
`packer` already supports custom `package_root` values in my testing - the problem with your example is that your `plugin_dir` doesn't adhere to the structure required by the native packages feature.

The following snippet works for your use case - note the changed path in `packer.init`. It is also necessary to modify `package.path` (you could get away modifying `runtimepath` if you prefer) to mak

[2020-09-25 17:17] glepnir commented on #51
Hmm I didn't like the native pack path. It is wired.  I would like manage all plugins and  backup dir swap dir tags dir  etc  in one dir.  so if packer will not support custom plugins dir outside pack path. no reason to use for me.

[2020-09-25 19:05] wbthomason commented on #51
@glepnir: I'm sorry, but I'm genuinely not sure what it is you want that `packer` doesn't already support? `packer` *does* support a custom plugins dir outside of the package path, as shown above - you just have to add that directory to your `packpath`, again, as shown.

Of course, you're free to use/not use whatever you like. Good luck either way!

[2020-09-26 16:59] nanotee opened #55 "PackerCompile sometimes produces invalid code"
First of all, thank you for making such a nice plugin. I've been switching my config over to Packer and it is a joy to use. I particularly like the code generation feature, it allows me to simplify my configuration and smoothes over some of the rough edges of native packages.

Unfortunately I seem to have hit a few edge cases while making the transition. I apologize in advance for being "that anno

[2020-09-26 18:00] nanotee opened #56 "Disabled plugins get picked up by PackerClean"
I sometimes want to disable plugins along with their associated configuration while still keeping them installed and up to date. I assumed that was the goal of the `disable` option but the `:PackerClean` command asks me if I want to remove plugins that are disabled. Am I misunderstanding the purpose of `disable`?

[2020-09-26 21:21] nanotee opened #57 "Packer hangs when setting a maximum number of simultaneous jobs"
I am using the `init` function to limit the number of jobs, but it doesn't seem to work. Here's an approximation of what my config looks like:

[code]

When I run `:PackerUpdate`, Packer outputs something like this:

[code]

It never actually reaches the end screen and waits indefinitely. I can still move my cursor and quit Neovim just fine.

I may be doing something wrong, but I don't know what

[2020-09-28 13:44] wbthomason commented on #56
Ah, I should clarify this in the docs. Yes, `disable` is meant as a mechanism for temporarily removing a plugin - it is by design that `PackerClean` removes disabled plugins. For keeping a plugin around and up to date, but not loading it, it is intended to use `opt = true` (manually setting the plugin as `opt`).

I can see how this would be confusing, though. Perhaps I should make `disable` effect

[2020-09-28 13:45] wbthomason commented on #57
Thanks for the report! This is a regression; I'll try to track down what commit caused it.

[2020-09-28 13:58] wbthomason commented on #55
Thanks for the report (and please never apologize for finding and reporting weird bugs; I love users who do that :) ).

Indeed, this seems to be a weird interaction with `cond` and `config`. I'm working on a fix now.

[2020-09-28 14:27] #55 closed

[2020-09-28 14:27] wbthomason commented on #55
@nanotee This should be fixed now; please let me know if you continue to experience errors!

[2020-09-28 14:50] wbthomason commented on #57
Ah, this is a bug introduced with interruptible tasks. It's actually present without the `max_jobs` restriction too, but doesn't show up because every job that needs to run is started at the beginning of the update stage.

[2020-09-28 15:03] clason commented on #56
Note that you can't rely on `opt=true` disabling the plugin, since there might be a `packadd` somewhere else in the config...

The safest way to handle that would be to move disabled plugins to another `pack/**/disabled` directory.

[2020-09-28 15:20] wbthomason commented on #56
That's true - my intent was that if a user manually marks `opt = true`, then they are responsible for loading or not loading it manually, as they prefer. Perhaps that's also a bad assumption.

[2020-09-28 15:25] clason commented on #56
That is not an unreasonable assumption. (In my case, it's because they're lua plugins so I need to manually load them anyway to configure them from init.vim.)

Regarding `disable = true`, what does this differently from just commenting out the `use` line in the config? (I guess that is the source of the confusion -- people would expect it to do something different since commenting out is easier th

[2020-09-28 15:27] nanotee commented on #55
No more errors on my end, thanks for the quick fix!

[2020-09-28 15:39] #57 closed

[2020-09-28 15:39] wbthomason commented on #57
This should be fixed now! @nanotee please let me know if you continue to experience the buggy behavior!

[2020-09-28 15:40] wbthomason commented on #55
Of course, thanks for the excellent report(s)!

[2020-09-28 15:47] wbthomason commented on #56
That's fair. The difference is mostly in a capability I don't think I've ever explicitly described: `disable` enables conditional installation. Consider the following:

Imagine you use both Windows and Linux machines, and there's some plugin `foobar/WindowsVim` that you only like to use on Windows. You could then write:
[code]
and use your configuration across both of your machines without needing

[2020-09-28 15:49] wbthomason commented on #56
Regardless, it's clear the current name for that feature is confusing, and there's a confusing overlap in functionality between `disable`, `cond`, and `opt = true`. I'm very open to suggestions for improvement; I'll also think about how to clarify this.

[2020-09-28 16:01] clason commented on #56
Thanks, that makes sense, and I agree that the conditional installation (as opposed to configuration/activation) via `disable` feels more "lua-y" than the external conditional (which people would be familiar with from `vim-plug`).

But I think you put your finger on it with the overlap. I think one helpful first step is to add a brief explanation -- like you have for `dependencies` --  on what `di

[2020-09-28 16:29] wbthomason commented on #56
Yes, I was thinking this too - `enable` and `load` make much more sense than `disable` and `cond`.

By "loading" I typically mean "sourcing in Neovim", whereas "enabling" typically means "installing". I have probably used each interchangeably/incorrectly per my definitions here in the docs; I'll do a consistency pass to correct that.

(to further clarify: "loading" is what happens when e.g. an opt

[2020-09-28 16:45] nanotee commented on #56
Ah, I see why I was confused now, thank you for the clarification.

For context, I was trying to do something like this:

[code]

Using `opt = true` in this case doesn't prevent the plugin from loading entirely because the condition automatically makes the plugin `opt` and *will* load the plugin if it is true.

What I wanted basically amounts to "don't load the plugin even if the condition is met

[2020-09-28 16:59] wbthomason commented on #56
Ok, I understand. That is a use case I admit I had not considered.

There is another underdocumented feature that might help you: adding your own handlers.

By passing a name and a function with signature (table of plugins, plugin table, arbitrary value specific to your handler) to `packer.set_handler`, you can add a "keyword" to `packer`. You could imagine here adding something like the following

[2020-09-28 17:08] nanotee commented on #56
I haven't had the chance to play with that feature yet, I may be able to contribute some documentation if I can come up with useful examples. Thank you for the suggestion

[2020-09-28 21:54] nanotee commented on #55
It seems I spoke too soon. The commit fixed passing functions to `config`, but now passing a string doesn't work:

[code]

Generates:

[code]

[2020-09-28 22:15] wbthomason commented on #55
Oh, I know what this is. Dumb error on my part - should be fixed now, in 55dd0f1. Sorry about that.

[2020-09-28 22:34] nanotee commented on #55
Everything seems to work now, thanks again

[2020-10-01 23:03] tami5 opened #61 "Howto: Add package from a number of files"
Hi there, I currently use `minpac` and I’m eager to test out and use `packer.nvim`.

I have the following conf structure under `~/.config/nvim` :

[code]

With `minpac` I have add-calls in packages.lua, which gets loaded whenever I want to update or install packages and call `util.update_packages()`.

[code]
I wonder how to achieve the similar result with `packer.nvim`?

I’d deeply appreciate a co

[2020-10-03 19:00] wbthomason commented on #61
Sure - I can help with a more complete snippet if need be, but this is actually quite easy with `packer`:

1. In your `init.vim` (or anywhere that gets sourced before your modules), call `packer.init()`.
2. In your `packages.lua` files, call `packer.use` for each plugin you want to add.
3. In your `util.update_packages()`, call `packer.sync()` or `packer.update()`.

That should be it! Let me know

[2020-10-04 03:34] tami5 commented on #61
Hi thanks so much for laying out how to do it like this. I'm considering changing my package loading strategy, and I'd like to hear your comment on: Given that I want all my plugin to be lazy loaded, I defined a function that will let me skip having to maintain modules/*/pkgs.lua and also add packages to packpath and if not installed call packer.use then add to packpath:

[code]

I'm sure this has

[2020-10-04 04:26] tami5 commented on #61
Also, is using packer as opt, and using init, use (also opt), and update, makes configuration such as cmd, ft, require unusable?

I tried doing `packer.use({ 'mboughaba/vim-lessmess', opt = true, cmd = {'LessmessExecute'}})` however, the command didn't get identified and I had to do `packadd vim-lessmess`.

[2020-10-05 12:11] wbthomason commented on #61
Sorry, there are a lot of things to reply to here, so if I miss something, please let me know.

The snippet you posted should work, though I'll note you only need the `use(...packer.nvim...)` line when you're trying to manage `packer.nvim` (i.e. not every invocation of this function). There are three other things to note - first, it appears from your `local packpath` value that you're using a non-

[2020-10-05 14:10] tami5 commented on #61
Thanks so much for your detailed reply to my inquiry. I appreciate deeply. So from what I understood:

1. The custom function should get the job done with some exceptions you mentioned. But was a bit unclear to me that should I pass the package name to packer.install() or packer.use or both.

2. packer.init() is necessary to be called at startup? in order for options passed to packer.use() to work

[2020-10-06 15:11] wbthomason commented on #61
To your first point: the general "flow" with `packer` is this: you call `use()` with some plugin specifications. This lets `packer` know to manage these plugins. Then, later, you call `packer.install()` or `packer.update()` or `packer.sync()`, which will install missing plugins (and, in the case of `update` or `sync`, also update installed plugins).

What I was saying with passing the plugin name

[2020-10-07 03:49] tami5 commented on #61
Thanks a lot for the your amazing input and help till now, I will look into the docs before continuing on with my adhock way of installation.

yes I think it better be changed, however, for now I will call it with my initialization of neovim

[2020-10-07 03:49] #61 closed

[2020-10-07 07:54] glepnir opened #62 "question with startup time"
code in here https://github.com/glepnir/nvim/blob/packer/lua/loadpack.lua  just three plugins. check startuptime..it takes too long time.

[code]

[2020-10-07 16:25] wbthomason commented on #62
I'm sorry, but I'll need more information if I'm to help. First off, from the startup trace you've provided, it's not clear that `packer` is responsible for the slow speed of loading `init.vim` - you source a lot of modules in `core.lua`, and your `parse_config` function is also doing nontrivial synchronous operations, which could easily be slowing you down.

Specifically to `packer`, I'll point o

[2020-10-08 04:57] glepnir commented on #62
Thank you for your reply. Check out my master branch. The only difference between it and the packer branch is that the plugin management uses packer. The other modules are basically the same. Using lua to configure neovim can not view the startup time of the script through startuptime, so it is difficult to see anything from the startuptime command. This is the startup speed of my main branch.
[co

[2020-10-08 07:15] tami5 commented on #61
Hay @wbthomason, hope you are having a great week so far.

I had an error while trying to pass a plugin name to packer.install a single plugin:
`[packer] Error in coroutine: .../site/pack/packer/opt/packer.nvim/lua/packer/install.lua:39: attempt to index a nil value`

I basically did in command line:
- `lua require('packer').init()`
- `lua require('packer').install('nikvdp/neomux')`,
- Also I trie

[2020-10-08 13:59] glepnir commented on #62
@wbthomason   got a new error
![image](https://user-images.githubusercontent.com/41671631/95468890-8af36380-09b1-11eb-9e5d-865e9cbace6b.png)

[2020-10-08 14:48] glepnir commented on #62
In dein I can use `on_map` to bind the keymap like `n  = <Plug> ` , but in packer keys just support `{mode,map}` or key map string like `- { repo: rhysd/accelerated-jk, on_map: { n: <Plug> } }` , bind j and k for this plugin. when i use j or k load this plugin. In packer `   {'rhysd/accelerated-jk', keys = 'j'}`  or `keys = {{'n','j'},{'n','k'}}` It's too troublesome..

[2020-10-08 15:47] wbthomason commented on #61
Ah, I'm sorry - I should have been more clear. You must **always** call `use` first, to add the plugin to the managed set. You can **then** call `install` either with no arguments (to install every missing plugin) or one argument, the name of a plugin in the managed set. The following should work (though I admit this is an infrequently-tested use case, so there may be bugs):
[code]

Again, I'm sor

[2020-10-08 16:03] wbthomason commented on #62
I will note that your `parse_config` function is different in both as well, and the python you (may?) execute in the `packer` branch is likely slower than the `find` command you use in `master`.

Yes, this is an unfortunate shortcoming of `startuptime`. If you would like to do more fine-grained profiling, I suggest using the `reltime()` function, built-in to Neovim. Using this, for example, I can

[2020-10-08 16:11] glepnir commented on #62
hey I have rewrite it on my master branch. seems like only buffer modified problem is trouble some…

--------------原始邮件--------------
发件人："Wil Thomason "<notifications@github.com&gt;;
发送时间：2020年10月9日(星期五) 凌晨0:03
收件人："wbthomason/packer.nvim" <packer.nvim@noreply.github.com&gt;;
抄送："Raphael "<glepnir@gopherhub.org&gt;;"Author "<author@noreply.github.com&gt;;
主题：Re: [wbthomason/packer.nvim] question

[2020-10-08 19:14] tami5 commented on #61
Hey @wbthomason, thanks for your fast response this time. I had to skip using packer.install because I couldn’t make it work [check out this commit](https://github.com/tami5/nvim/commit/0d47176eba9e3ab1dbc1f1bb6a09c11a64716e11 ) , However I managed to get my new use case working, “please read commit message” and I’m thinking of opening a PR soon and work on it more if this would be something other

[2020-10-08 19:32] wbthomason commented on #61
I'm glad your new use case is working. What were you unable to get working with `packer.install()`, though? The example I posted above seems to work for me.

The reason that use/install are separated like this (as opposed to the `ensure` tag in use-package) is because `packer` does other things - specifically, compiling lazy-loading code - that require the plugin specification, whereas we wouldn't

[2020-10-08 19:54] tami5 commented on #61
it installs okay but I get an error package not available in pack path because packadd get executed or get blocked before packer.install() finishes

Yes, silent option will be so amazing thank you looking forward for it.

And for packadd as an option, as far as I know start doesn't load until init.vim finish loading. It is useful when the package is needed to load during initialization like in my

[2020-10-09 10:16] glepnir commented on #62
bug of keys keyword. `j` doesn't work..
[code]

To be honest, packer is a good direction, but there are many missing features and some problems. I have done a lot of work to make packer suitable for me, but I failed.. If I have time, maybe I will improve packer, but I am currently My job is to implement neovimlsp bugs and implement new functions to nvim-lua/lsp_extension, so I don’t have much time

[2020-10-09 10:16] #62 closed

[2020-10-09 13:42] wbthomason commented on #62
I'll note that your keys example is not a bug, but is just the `dein` feature you mention being absent.

I'm sorry `packer` didn't work out for you this time. Please feel free to file issues requesting features you'd like to see added.

[2020-10-09 13:50] glepnir commented on #62
Okay, maybe I don’t understand the meaning of keys. My understanding is that the plugin will only be loaded when the key is triggered. It’s strange. When I do this, my `j` can’t work properly. Check `verbose nmap j` I got no mapping:) In addition, the packer also lacks some functions, but I think I can hack, but I still don’t understand how some packages are loaded. For example, if I install the p

[2020-10-12 01:56] gwerbin opened #63 "Some edge cases leading to cryptic errors"
Hi, thanks for the great plugin manager!

I found a few rough edges where the user "falls through" to Packer internals, leading to cryptic errors. Hopefully this report is helpful in future development.

### System details

`uname -orsv` output: `Linux 5.8.0-2-amd64 #1 SMP Debian 5.8.10-1 (2020-09-19) GNU/Linux`

Packer commit: `237a134d5144f9f99df1a2f5bb29950c3d0ed795`

`nvim --version` output:
<

[2020-10-12 08:19] tami5 commented on #63
I agree with @gwerbin  I just faced problem 3 and my vim instance completely froze

[2020-10-12 12:30] Th3Whit3Wolf opened #64 "Error detected while processing function <SNR>27_load"
I get this error when opening a group of files
[code]

**NOTE: the ... upvalue ' ' is actually two single quotes without a space. I added the space for legibility**

I have troubleshooted this to this portion of my packer compiled plugin

[code]

**NOTE: This happens on other files with similiar autocmds**

I'm not sure where it's getting tripped up.

[2020-10-12 13:23] wbthomason commented on #64
Thanks for the report! Could you send me your config for the plugins in that call to `load`? I'm guessing from the error message that there's an issue with something there, or with the part of the `packer` compiler that handles `config` functions, since filetype loading in general works for me.

[2020-10-12 13:59] wbthomason commented on #63
Thanks for these reports!

Problem 1 is interesting. Just to confirm, you're using the latest version of `packer`, right? Line 130 in display.lua is a function call that **definitely** takes (and receives) 3 arguments, so that error message is unexpected.

I will fix Problem 2 by checking for colons at the start of commands; that's easy enough.

Problem 3 is irritating; it has been reported before

[2020-10-12 14:06] wbthomason commented on #61
Strange - `packer.install()` is a synchronous operation, so running `packadd` after it completes should have worked.

It's in progress; just need to debug some edge cases.

Ah, right, this is unfortunately true of the Neovim native packages feature.

I unfortunately don't have any great ideas for this - my best guess would be to (1) look for a `lua/` dir in the plugin directory and then (2) look f

[2020-10-12 14:09] gwerbin commented on #63
Thanks for the quick response!

@wbthomason I'm not sure. This is the most recent commit in `git -C ~/.config/nvim/pack/packer/opt/packer.nvim log`:
[code]
Which is the same as the latest commit on Github `master`: https://github.com/wbthomason/packer.nvim/commit/237a134d5144f9f99df1a2f5bb29950c3d0ed795

[2020-10-12 14:15] gwerbin commented on #63
Also -- I found that *sometimes* Problem 1 occurs after `PackInstall`, usually only when new packages are being installed. Is there some obscure code path that might be triggered when the Packer window is never shown in a GUI or terminal?

[2020-10-12 15:06] tami5 commented on #61
@wbthomason Thanks a lot. Don’t worry I’m sure you have a lot going on. Looking forward for the silent option.

[2020-10-12 15:27] gwerbin commented on #63
For Problem 1, use `GIT_ASKPASS=false` as per https://stackoverflow.com/a/64319771/2954547

[2020-10-12 16:26] wbthomason commented on #63
It looks like you're on the right commit. I'll try to reproduce Problem 1 and see if I can print a more useful diagnostic.

For Problem 3: I've considered doing that (from the same StackOverflow post), but I don't know that `true` exists on Windows systems as well (and I'm not sure of the equivalent - some people say `(exit 0)` will work, while others claim it does not).

As for the other plugin m

[2020-10-12 17:01] Th3Whit3Wolf commented on #64
Absolutely, here is [my config](https://github.com/Th3Whit3Wolf/Almost-Finished-Neovim-Config/blob/dev/lua/plug.lua)

[2020-10-12 18:52] gwerbin commented on #63
Someone on Stackoverflow just recommended `GIT_TERMINAL_PROMPT` instead. https://www.git-scm.com/docs/git#Documentation/git.txt-codeGITTERMINALPROMPTcode

[2020-10-13 17:56] EdenEast opened #65 "packer_compile.vim does not degrade gracefully when sourced with vim"
I use the same configuration for both nvim and vim. I use nvim primarily but sometimes I have to use vim (when making a git commit when I am on mintty/git-bash). In my configuration I feature check and gracefully degrade my configuration. That means that I will not have all my plugins and nice to haves but my core vim settings will be the same. This is fine for the small instances where I have to

[2020-10-13 18:36] #65 closed

[2020-10-13 18:36] wbthomason commented on #65
Thank you for the report and PR! I've merged your changes in.

[2020-10-14 08:18] Th3Whit3Wolf commented on #64
I've narrowed it down to it being an issue with using config (maybe incorrectly).

[2020-10-14 08:37] Th3Whit3Wolf commented on #64
Heres one example

[code]

On insert I get the following error

[code]
but this is fairly similliar to the example

[code]

[2020-10-14 14:15] wbthomason commented on #64
Hmm, this is interesting - I still cannot reproduce the error, even with your example. I get no error message and do see rainbow parentheses, as expected.

[2020-10-14 14:16] wbthomason commented on #64
Could you post your Neovim version? I'm wondering if this is something with a change in the Lua interface, maybe?

[2020-10-14 14:19] Th3Whit3Wolf commented on #64
[code]

[2020-10-14 14:48] FabioRamatis opened #67 "Error with vim.schedule on PackerInstall"
This happens every time I run :PackerInstall, the strange behavior is that actually installs correctly.
![Screen Shot 2020-10-14 at 11 44 31](https://user-images.githubusercontent.com/69860869/96005235-a4156d80-0e12-11eb-978f-5e621fb80baf.png)

my init.vim
[code]

my init.lua

[code]

my packages.lua

[code]

[2020-10-14 15:04] wbthomason commented on #67
Thanks for the report! Given the error message, I suspect that something in your settings or autocommands is interfering (e.g. something like the problem in https://github.com/neovim/neovim/issues/9755). Could you post the contents of those files (I looked at your dotfiles repo, but it doesn't seem to have your Neovim config)?

Also, re: your comment around the use of `packadd`: You totally don't

[2020-10-14 15:08] wbthomason commented on #64
Hmm. That *is* an earlier version than I'm using, but not so old that it should cause trouble, I would think....

Oh, though it wouldn't cause this problem, I did want to note that you don't need to manually mark plugins as `opt` if you're lazy-loading them - `packer` takes care of that for you.

[2020-10-14 15:09] wbthomason commented on #64
For you, does a minimal `plugins.lua` containing *just* the example you sent trigger the issue you report? Or does that example in isolation work as expected?

[2020-10-14 15:10] wbthomason commented on #63
Thanks, that's good to know about.

Look for a few PRs in (hopefully) the next couple of days fixing these issues.

[2020-10-14 15:53] FabioRamatis commented on #67
About the packadd, I want to configure the plugins from lua files and the only way that worked was with this approach.

My config - https://github.com/cherryramatis/vim-astronaut

[2020-10-14 16:23] wbthomason commented on #67
Thanks! One note - you have both `packer_load.vim` and `packer_compiled.vim` in your `plugins` dir (probably left over from when the default name was changed, sorry), which is presumably not what you want. I'd recommend deleting both and recompiling, just in case.

[2020-10-14 16:33] wbthomason commented on #67
jsyk, you could use the `config` key feature of `packer` to do this without needing the explicit `packadd` invocations, but that's down to personal preference.

[2020-10-14 16:38] FabioRamatis commented on #67
Ok I recompile! Thanks very much

In this config key, I can require a different file and configure from there? It'll be the goal for me

[2020-10-14 16:43] wbthomason commented on #67
Yes - the config key can be any valid Lua string or function. Please let me know if the recompile fixes anything, but I don't expect it to.

I'm not sure what could cause saving undo information to fail, so I'm asking in the Neovim Gitter to see if anyone has any idea what could cause this, since I cannot reproduce it. Thanks for your patience and help!

[2020-10-14 16:44] wbthomason commented on #64
Could you please post the contents of your compiled file? I assume it matches mine with your example config, but maybe inspecting it will show me something useful.

[2020-10-14 16:54] Th3Whit3Wolf commented on #64
[heres the gist](https://gist.github.com/Th3Whit3Wolf/20aa1d96ff55e416d6b268d761496a5d)

[2020-10-14 17:01] wbthomason commented on #64
Thanks - unfortunately, it looks like that's incomplete (the command definitions at the bottom are cut off, for example).

[2020-10-14 17:04] Th3Whit3Wolf commented on #64
Terribly sorry about that, it's fixed now

[2020-10-14 17:14] FabioRamatis commented on #67
Recompile don't change anything at all.

I'm looking at my autocmds but no clue right now, I'll let with you guys to help me haha

Thank you for your patience! I love your package, it's helping me keep a neovim config 100% lua

[2020-10-14 17:22] wbthomason commented on #64
Thanks! Unfortunately, at a glance, I'm really not seeing anything unusual. I'll look more in depth later, but as of now I still have not been able to reproduce the issue, sorry.

[2020-10-14 17:25] Th3Whit3Wolf commented on #64
`global.local_nvim = '/home/me/.local/share/nvim'` if that makes a difference

That's okay I appreciate your help!

[2020-10-14 19:22] wbthomason commented on #67
One other question: do you see this error on `PackerUpdate` too, or just `PackerInstall`?

And thanks! I'm glad you like it!

[2020-10-14 20:52] tjdevries commented on #67
Try updating to latest nvim, see if that fixes it.

[2020-10-14 20:52] FabioRamatis commented on #67
Yes! I see this error on PackerUpdate and PackerInstall

[2020-10-14 20:52] FabioRamatis commented on #67
![Screen Shot 2020-10-14 at 17 52 30](https://user-images.githubusercontent.com/69860869/96043946-09368680-0e46-11eb-96d1-e701bc96b864.png)
@tjdevries I'm using this version actually

[2020-10-14 20:55] tjdevries commented on #67
Is that the latest nightly? I don't know off hand if it is or not.

[2020-10-14 21:06] FabioRamatis commented on #67
I build from source and worked now! Thank you so much @tjdevries

Saved me two times hahah

Thank you for the patience @wbthomason

[2020-10-14 21:06] #67 closed

[2020-10-14 21:06] wbthomason commented on #67
Great, thanks!

Thanks for the help, @tjdevries!

[2020-10-14 23:28] tami5 opened #68 "Is there a way to append to compile file"
Hey @wbthomason, is it possible to append pkg config to packer's compiled file only when a new plugin added or a field evaluating to true?.

I'm currently trying to further decouple my setup (perhaps by adding new fields and a condition: `if opts.pkg_new or opts.reload then ... end` and the result would be to call `packer.compile() `or more preferably call something like `packer.compile('name')` i

[2020-10-15 14:31] Th3Whit3Wolf commented on #48
Some runtime performance could be had load on filetype autocmds were replaced with putting those commands into `~/.local/share/nvim/site/ftplugin` or `~/.config/nvim/ftplugin` to take advantage of neovim's builtin autoloading.

[2020-10-15 15:55] wbthomason commented on #68
The short answer is "not really, and I don't think this is likely to be added".

The slightly longer answer is that the compiled file is generated all at once because certain features (like sequential loading, etc.) require knowledge of the full set of specified plugins in order to be correctly generated. Though I am looking at some restructuring of the compilation process (to move some code to th

[2020-10-15 16:12] tami5 commented on #68
It helps a lot thanks @wbthomason

[2020-10-15 16:12] #68 closed

[2020-10-16 13:29] wbthomason commented on #48
Yeah, that's a good idea/something I'd been thinking about.

I think I'd like to write "lazy-load compilation 2.0", which would (1) use `ftplugin` files for filetype loads, (2) put the auto-generated Lua in its own module to make things a bit simpler, and (3) if the user sets a config value indicating that they only use a single, `require`able file for plugin specification (rather than splitting t

[2020-10-16 14:31] smolck opened #69 "Using config key causes startup slowdown"
If I move certain `require` statements and Lua configuration code to use the `config` key instead of be run in a Lua file, my startup time is an extra ~20ms slower.

<details>

<summary>config diff that causes slowdown</summary>

[code]

</details>

</summary>

Is this slowdown unavoidable, or should it not be happening?

[2020-10-16 14:41] wbthomason commented on #69
This is very strange; I would expect zero slowdown from these changes.

If you have a chance, could you diff your `packer` compiled file between these two versions as well, to make sure that nothing unexpected has changed there from the addition of `config` keys?

If it is (as expected) the *exact* same code running in both versions, then that would seem to indicate that it's slower to run this Lu

[2020-10-16 14:52] smolck commented on #69
Only difference afaik is this extra code:
[code]

Yeah, need that for the gruvbox_material to work properly ;)

[2020-10-16 15:45] wbthomason opened #71 "Consider moving to/adding rtp-based plugin management"
From conversations with @bfredl, @clason, and others, it may be worth investigating using "traditional" `rtp`-based plugin management instead of native packages (mostly to get around the annoying sourcing order problem).

This would entail:
- Change the install root to not be on `packpath`
- Generate a file with the correct `rtp` value, to be sourced in `init`
- Write code to emulate `packadd` for

[2020-10-16 15:52] tami5 commented on #71
🤔 I thought native package is the best way to go with regards to performance. I will look more into rtp.

Thanks for the update

[2020-10-16 15:59] wbthomason commented on #71
@tami5: That had been my thinking too, but the others raised some valid points that this may not be the case (or may be easily fixed if it is the case) in discussion on Gitter.

[2020-10-17 05:54] bfredl commented on #71
If it helps, we will make neovim core handle long rtp:s better :]

[2020-10-17 06:13] bfredl commented on #71
This could be done by changing the internal _representation_ of `&rtp` from a ridicously long string option, to an _array of strings_, which can be manipulated/inspected/debugged directly from lua code. We can even make it callback-driven (to lazy load things "smartly"), given Sufficiently Smart caching logic (which is how I do lua callbacks for `:highlight` definitions already).

[2020-10-18 12:59] katsika opened #72 "Unable to use setup to configure plugin"
Trying to set couple of variables for `loupe` results in `packer.nvim` not getting loaded.

[code]

after `:PackerCompile` and opening new nvim instance no `Packer*` commands are available.

[2020-10-19 22:24] wbthomason commented on #72
Note to myself for when I have a chance to look into this properly: seems like it might have to do with limitations on `string.dump`, e.g. upvalues (though the `vim` table should be a global, which I wouldn't think would cause trouble?)

[2020-10-27 17:39] sunjon opened #73 "Packer update display doesn't cater for broken updates well."
I have a package with local changes, that I know will fail during updates. I'm happy to have the error message in the window.

If subsequent package updates are successful however, their status messages get intermingled with the output from the failed update.

![packer_update](https://raw.githubusercontent.com/sunjon/images/master/packer.png)

[2020-10-27 17:57] tami5 commented on #73
Totally unrelated question @sunjon , but how did you manage to have a packer open in a popup. Thanks

[2020-10-27 18:19] wbthomason commented on #73
Nice catch! This is a regression.

I won't be able to look at this before 2020-11-02 at the earliest, but if you happen to feel like taking a stab at a PR, the likely culprit is `final_results` in `packer/display`.

Otherwise, I'll put this on my list of `packer` things to do after this deadline...

[2020-10-27 22:09] sunjon commented on #73
the options have a parameter `open_fn` to specify a function that will create a window for Packers content:

[code]

with a function based on https://github.com/neovim/neovim/issues/9718#issuecomment-559573308

[2020-10-27 23:14] sunjon commented on #73
Done, hopefully!

[2020-10-28 13:20] #73 closed

[2020-10-28 13:21] wbthomason commented on #73
Thank you very much!

[2020-10-29 09:16] clason opened #75 "Add floating packer display"
Echoing the following comment on #73, it'd be lovely to have this built-in so I could just set `open_fn = require'packer.util'.float`!

@sunjon

the options have a parameter `open_fn` to specify a function that will create a window for Packers content:

[code]

with a function based on https://github.com/neovim/neovim/issues/9718#issuecomment-559573308

_Originally posted by @sunjon in https://git

[2020-10-30 21:53] RefusesNames opened #76 "config-command is not executed"
Using this setup:
[code]
I will see "test1" and "test2" printed, but not "test3". This is not only the case for this plugin, but for all I tested.

If you need more context, my complete configuration can be seen [here](https://github.com/RefusesNames/vim_config/blob/fix_lsp/lua/plugins.lua).

[2020-10-30 22:23] wbthomason commented on #76
Have you run `PackerCompile` or `PackerSync`?

[2020-10-31 11:53] LoricAndre opened #77 "Error calling plugin config"
Hi,
After switching my config from vim-plug to packer, I ran into an issue when I tried to load my plugins config :
[code]
To debug this, I changed my packer_compiled.vim to require the content of the lua block from a file to get more precise info.
Doing this, I got an error on the line of my treesitter config :
[code]
My treesitter config is called via
[code]

<details>
<summary>and the plugins/t

[2020-10-31 12:33] LoricAndre commented on #77
Possibly linked to https://github.com/wbthomason/packer.nvim/issues/72

[2020-10-31 13:57] RefusesNames commented on #76
I can confirm that this was the solution. I did call `PackerCompile` (or did not reload my changed config beforehand). My bad and thank you for your time.

[2020-10-31 13:57] #76 closed

[2020-10-31 13:58] wbthomason commented on #76
No worries; I'm glad it's working for you!

[2020-10-31 21:23] elihunter173 commented on #77
I just ran into the same issue. I think this occurs whenever `config` references local variables.

I ran into this while using `nvim-lspconfig`. Here's a minimal example of what I was doing and tried out.

This fails
[code]

This also fails
[code]

This works
[code]

This also works
[code]

[2020-10-31 21:40] elihunter173 commented on #77
Reading a bit more, what @wbthomason mentioned there about upvalues is exactly the issue here (at least for me). From the [Lua 5.1 reference manual](https://www.lua.org/manual/5.1/manual.html#pdf-string.dump), the function passed to `string.dump` cannot have any upvalues.

For the original example, I *think* that something in `require`'s machinery might bring in some sort of upvalue, but that's ju

[2020-10-31 23:10] LoricAndre commented on #77
I did a quick test and replaced the local xxx = require'plugins.xxx' with requiring the plugins directly in the config section, but nothing changed.

[2020-11-01 11:04] ghost opened #78 "Feature request: show hunk diff"
Hi Will, please add ability to see diff of each commit from update result window. `vim-plug` has that as well as `:PlugDiff` which can show results of last `:PlugUpdate` command once again.

Great plugin, thanks a lot!

[2020-11-01 13:11] kyazdani42 opened #79 "crash on start"
hi, doing some debug, i've noticed packer is crashing at start. It's not noticeable without the debug=throw set.
init.vim:
[code]
lua/plugins.lua
[code]

crashes with
[code]

Sorry if this is duplicate or what, it is not really a big issue right now, but i believe this is causing undefined behaviors sometimes (not 100% sure though)

[2020-11-01 13:42] stephan-hesselmann-by opened #80 "`PackerClean` does not clean plugins when they are marked optional after install"
Steps to reproduce:

- Specify plugin with `use "repo/name"`.
- After `PackerInstall` the repo is cloned to `.../packer/start/name`.
- Change plugin specification to `use {"repo/name", ft = "python"}`.
- After `PackerInstall` the repo is cloned to `.../packer/opt/name`.
- `PackerClean` does not delete the now outdated plugin in `.../packer/start/name`.

The plugin is now duplicated and loaded twic

[2020-11-02 01:46] wbthomason commented on #80
Thanks for the report! The more customary set of steps to change a plugin's type is to use `PackerUpdate` or `PackerSync`, rather than `PackerInstall`, but this is a bug in `PackerClean`.

[2020-11-02 01:48] wbthomason commented on #79
Hmm, I'm having trouble replicating this. Do you get the same error if you don't have the `return ...startup` in `plugins.lua`?

[2020-11-02 01:49] wbthomason commented on #78
@katsika, I'd be happy to merge a PR implementing this, but it's not likely to be added soon otherwise.

If you're interested, I can help point you toward the relevant parts of the code.

[2020-11-02 17:27] clason opened #81 "Latest neovim master no longer requires (nor tolerates) update_package_paths"
Neovim just merged https://github.com/neovim/neovim/pull/13119, which means `start` (Lua) packages are available already in `init.vim` without requiring `packadd!` or `vim._update_package_paths()` -- in fact, the latter is now an error in the compiled lazy loader code.

Removing https://github.com/wbthomason/packer.nvim/blob/2aba863c46e786eb05198040773c593851d773d0/lua/packer/compile.lua#L445 fixe

[2020-11-02 18:15] wbthomason commented on #81
Ah, excellent news! `packer` doesn't work with 0.4.x at all for other reasons (#1). Unless there's an easy way to check if a Neovim version has that PR merged, I think I'll opt to not keep the code for older versions around.

[2020-11-02 18:16] #81 closed

[2020-11-02 18:31] wbthomason commented on #75
@sunjon Would you be willing to share the floating window function you appear to use? It looks nice, and (if you're willing) I'd be happy to steal it for the use @clason suggests.

[2020-11-02 18:41] clason commented on #75
crs pasted the following Lua snippet in Gitter chat when I asked about this: https://dpaste.org/zghD
[code]

[2020-11-02 20:52] wbthomason commented on #77
@LoricAndre To clarify, you tried the following and saw no change?
[code]

@elihunter173 is correct that - because of limitations on `string.dump` - config/setup functions cannot have any upvalues.

[2020-11-02 22:30] LoricAndre commented on #77
Yes that's what I tried. Right now I reverted to simply requiring all my config file in my config directly, though I need to add `vim.cmd(packadd plugin)` for most of the plugins I'm configuring.

[2020-11-03 00:48] wbthomason commented on #77
Hmm, I can't actually reproduce this - what I posted works for me (though I think my Neovim version may be more recent than yours).

Could you update your Neovim build and see if you still see this error?

Also, what is the `lua/pa.lua` file you mention in your report? I'm not sure I see where that's referenced in your `plugins.treesitter` file.

[2020-11-03 01:12] gwerbin commented on #53
Pardon my ignorance, but is `git clone` followed by `nvim +PackerCompile +PackerSync` not enough?

Note that the ["Quitting Packer too fast?" bug](https://github.com/wbthomason/packer.nvim/issues/63) is annoying here because you can't just automate this in a script:

[code]

[2020-11-03 01:25] wbthomason commented on #53
@gwerbin That should be fine, but many people like to have code to bootstrap their plugin setup *in* their `init.vim`.

[2020-11-03 08:40] madskjeldgaard commented on #81
Hi should the quickstart code in this readme maybe be updated as well to remove the update package paths line? Thanks!

[2020-11-03 08:44] clason commented on #81
The Readme is still correct, since it explicitly says the line is only required on older commits :)

But probably yes, just to be safe...

[2020-11-03 09:15] madskjeldgaard commented on #81
Cool! I was personally a bit confused by it with this update but that's
just my 2 cents. Thanks!

On 03-11-2020, Christian Clason wrote:

[2020-11-03 10:03] RefusesNames opened #82 "Cannot update packages"
I can install new plugins, but when I use `:PackerUpdate` every plugin is marked as `Failed to update <PluginName>`. Is there a way to see the actual error? The messages at the bottom say something about `rplugin.vim`, but  this file is empty:
[code]

[2020-11-03 10:31] p00f commented on #81
hey why is my lua `package.path` not synced with`rtp` now?
lua `package.path`:
[code]

nvim rtp: https://del.dog/ghuhithily

[2020-11-03 10:34] clason commented on #81
Wrong repo for this -- you need to ask @bfredl on the neovim repo. If you open an issue, please add a lot more detail to allow reproducing.

Wrong repo for this -- you need to ask @bfredl on the neovim repo. If you open an issue, please add a lot more detail to allow reproducing.

[2020-11-03 10:37] bfredl commented on #81
It is synced. We just no longer generate a needlessly long concatenated string in order to make it happen.

[2020-11-03 10:37] SanchayanMaity opened #83 "Post install hook issue"
First of all, thank you for your work on this plugin. Am quite liking it's UX so to speak.

Neovim version: NVIM v0.5.0-789-gca7449db4

Currently, trying to use the post install hook does not seem to work for plugins like `fzf` which use `funcrefs`. In `fzf`, the post install hook is `fzf#install`. Having this in packer's post install hook for the `fzf` plugin,

[code]
does not work.

I do not see

[2020-11-03 12:29] wbthomason commented on #82
What does `:messages` show, exactly?

[2020-11-03 12:47] RefusesNames commented on #82
[code]
Not sure if that helps though

[2020-11-03 13:20] wbthomason commented on #82
Hmm, ok. Do you get anything when you press enter on the "Failed" lines?

[2020-11-03 13:39] RefusesNames commented on #82
[code]
Not really anything helpful

[2020-11-03 15:02] LoricAndre commented on #77
`pa.lua` was the file I used to know on which line the error was (I replace the lua block in packer_compiled.vim with a require, and that gave me the line when the error occured). I'll try out your config, I was doing things slightly differently.

[2020-11-03 15:19] LoricAndre commented on #77
I tried out what you posted and it works. The issue seems to have been that I required the function directly in config `config = require'plugins.treesitter'()`

[2020-11-03 15:19] #77 closed

[2020-11-03 16:56] kyazdani42 commented on #79
even better debugging:
[code]
with init.vim as
[code]
I run archlinux with neovim version 0.5.0-789-gca7449db4

[2020-11-03 17:01] kyazdani42 commented on #79
it might come from my config though. could you look up [my plugin config ?](https://github.com/kyazdani42/dotfiles/blob/master/config/common/nvim/lua/plugins.lua) ?

[2020-11-03 17:55] Olical commented on #81
So a Lua `require('foo')` will look in the `package.path` and _then_ the `runtimepath`?

[2020-11-03 20:19] tjdevries commented on #75
This: `vim.cmd([[autocmd! BufWipeout <buffer> execute 'bw ']] .. buf)` can be `vim.api.nvim_buf_delete` now :)

[2020-11-04 00:58] wbthomason commented on #4
@clason and others: I believe #81 implies this is no longer an issue, can you confirm?

[2020-11-04 01:01] wbthomason commented on #71
@bfredl: Am I correct in believing that https://github.com/neovim/neovim/pull/13119 only affects Lua `start` plugins, not Vimscript plugins? Meaning that changing to rtp-based management is now less important, but not completely irrelevant?

[2020-11-04 02:50] hituzi-no-sippo opened #84 "Fix first element of plugin list not loading options"
Hi.

Declaring multiple plugins with a single `use` will not load the first plugin option. Is this correct?
 If it is not correct, can I make a pull request? (https://github.com/hituzi-no-sippo/packer.nvim/commit/ab2a808611e7797b5738d750546bc4c2d0eb91e2)

## Executed Code

[code]

## Output file of `packer.compile`

<details>

[code]

</details>

## Output file of `packer.compile` when the [code i

[2020-11-04 04:18] hituzi-no-sippo commented on #84
I was wrong;

 I should have written `use {{'tjdevries/colorbuddy.vim', opt = true}, ... }` instead of `use {'tjdevries/colorbuddy.vim', opt = true, ... }`.
I should have enclosed first plugins (i.e. `tjdevries/colorbuddy.vim`) in `{}` and made it a table.

[2020-11-04 04:18] #84 closed

[2020-11-04 04:21] wbthomason commented on #84
Yup, looks like you got it figured out!

[2020-11-04 07:54] clason commented on #4
@wbthomason for `start` packages, it should (but there seem to be still a few issues with that patch to iron out?)

[2020-11-04 08:01] bfredl commented on #71
@wbthomason my _intention_ was to also support vimscript plugins but it looks to be a bit messy to do it "perfectly". At very least we will support `autoload/` calls during `init.vim` for vimscript plugins that use autoload for config (but don't need all messy details of runtime during init). It could make sense to wait a few days as people try it out (and I fix remaining bugs :)

[2020-11-04 11:00] bfredl commented on #81
I think so. I added the 'rtp' loader last into `package.loaders` so any explicit `package.[c]path` will take priority I think (we can of course flip this around if we prefer 'rtp' first).

[2020-11-04 11:13] Olical commented on #81
Ah okay, I relied on the runtimepath / package.path having a full string in them at init.vim time so that I could copy it and swap out lua for fnl to basically translate package.path into fennel.path. I guess I need to find a new way to get the list of directories on the runtimepath. It seems like on my 0.4, at the time my lua runs, I can see the full runtimepath but a user on the latest Neovim us

[2020-11-04 13:25] F4IL3D opened #85 "attempt to call field '_update_package_paths' (a nil value)"
First of all, thank you for this plugin.

I'm just a layman, but I think this error is a result of the following merge: [#13119](https://github.com/neovim/neovim/pull/13119/commits/c60c7375f5754eea2a4209cc6441e70b2bb44f14)

Version: NVIM v0.5.0-804-geee066881

![image](https://user-images.githubusercontent.com/48415231/98112120-ebd36600-1ea1-11eb-88f7-7bbadc5f9806.png)

[2020-11-04 13:32] bfredl commented on #81
@Olical ahyes, sorry for breaking your usecase :sweat_smile: . The new api `nvim_get_runtime_file` _should_ be simpler for `aniseed` and such frameworks in the long run, but supporting both 0.4 and master (0.5) at the same time will require a big ugly if-statement unfortunately. (our docs are a bit messy, but when/if I get the time I will do the PR at aniseed myself )

[2020-11-04 13:39] Olical commented on #81
@bfredl No worries, just want to find what the future solution will look like, I'm happy to put in some branches to support the stable release and nightly. I live in stable land but some of my intrepid users are running off of master, I want to make sure I'm future proofed. I'll have a look at the new API, thanks for the heads up!

[2020-11-04 13:48] bfredl commented on #81
actually nvim_get_runtime_file is not fully ready yet, you can only query files (as in octect streams) and not subdirectories as such. At least pynvim is gonna need directories, and aniseed might prefer getting a list of all `fnl/` dirs, instead of looking up every `nvim_get_runtime_file("fnl/myplugin/mymod.fnl")` separately, maybe?

[2020-11-04 17:03] nanotee commented on #83
I was able to reproduce this. I got this error message:
[code]

I changed line 124 in `plugin_utils.lua` from this:

[code]

to this:

[code]

And it seemed to fix the problem

[2020-11-04 20:42] nanotee commented on #72
I can't reproduce the bug, `packer_compile.vim` is generated correctly and `Packer*` commands are available after loading it.

@katsika are you calling `packer.startup` from your `init.vim`? Could you provide more details about your configuration?

[2020-11-04 23:20] nanotee commented on #79
I was able to reproduce this with your minimal `init.vim`:

[code]

However, the crash also happens when I try to load a plugin other than `packer`:

[code]

I suspect the bug might be coming from the `:packadd` command

[2020-11-05 03:31] wbthomason commented on #79
Thanks for the help, @nanotee! Am I correct in interpreting your results as indicating that the bug is indeed in `packadd`?
If I recall correctly, @bfredl's packages-related PR landed after this report, so if this is an error with packages, it probably doesn't stem from that.

[2020-11-05 03:32] wbthomason commented on #72
@katsika I also cannot reproduce this. Could you please post your plugin specification file (or, better still, link to your configuration files) so I can see how you load `packer`?

[2020-11-05 03:35] wbthomason commented on #83
@nanotee Thanks, nice catch! Interestingly, when I tried to repro this, I was getting a different error.

I've pushed b3a1bb3 adding your fix to `plugin_utils`. @SanchayanMaity could you confirm that this fixes your issue?

Thank you!

[2020-11-05 03:36] wbthomason commented on #81
@bfredl is there a PR or issue to track for `nvim_get_runtime_file`?

[2020-11-05 03:38] wbthomason commented on #85
Yes, that PR removed `_update_package_paths`. Commit b3a1bb on `packer` removed the use of this function - are you on the latest `packer`?

Unfortunately, if you updated your Neovim before your plugins, you might have to manually pull `packer` updates.

[2020-11-05 03:40] wbthomason commented on #71
Sounds good, thank you for the patches! I'm happy about anything that gets me speed while saving me from having to do @shougo-level cleverness with the `rtp`. :grinning:

[2020-11-05 03:41] wbthomason commented on #4
Yes, I think there's still some dust to let settle on that patch. That said, the patch + its corrections should fix this issue, so I'll close it for now. Please feel free to reopen if you feel I should wait/that #81 does not fix this problem!

[2020-11-05 03:41] #4 closed

[2020-11-05 03:42] wbthomason commented on #77
I'm glad you have things working. I'm surprised your original use didn't work, though - perhaps that's some odd edge case with the bytecode compiler (maybe because the function isn't defined in that lexical unit but brought in via `require`, it's stored differently and so `string.dump` fails?)

[2020-11-05 03:46] wbthomason commented on #82
Ok. I should probably look into adding more logging so that people can get better information in the case of failures.

Without said additional information, I'm not sure why updates don't work for you (since, for the vast majority of users, they seem to work correctly)....

Do you happen to have a minimal config that reproduces the behavior?

[2020-11-05 06:14] kyazdani42 commented on #79
i believe this might be upstream related then. Ill open a PR there.
just tagging @bfredl in the meantime.

[2020-11-05 06:14] #79 closed

[2020-11-05 06:19] SanchayanMaity commented on #83
Yes, this seems fixed now. Thank you very much @nanotee and @wbthomason .

Closing the issue.

[2020-11-05 06:19] #83 closed

[2020-11-05 07:02] F4IL3D commented on #85
Hello Wil,

packer himself says I'm up to date. ;-)
But you are right. I ran the Neovim update first and then I updated the plugins. Despite manual PackerCompile, the file packer_compiled.vim was apparently not replaced. I deleted packer_compiled.vim after your advice this morning and had it recreated with PackerCompile.
The "_update_package_path" call in line 137 has thus been removed and everyth

[2020-11-05 07:02] #85 closed

[2020-11-05 08:57] RefusesNames commented on #82
I can try to build a minimal example later, but for now I only have my full setup [here](https://github.com/RefusesNames/vim_config/tree/fzterm) (using `NVIM v0.5.0-808-gee3acef38` on Windows).

[2020-11-05 16:16] lewis6991 commented on #72
I thought I was hitting this issue too but turns out I didn't know that I needed to run `PackerCompile` whenever changes are made. The README explains this quite well but maybe this should be highlighted a little more as this is a big difference for any users migrating from something like `Plug.vim`.

[2020-11-05 18:09] nanotee commented on #64
I *think* I've managed to reproduce this issue with the gist you provided, although the error message I get is slightly different. I have narrowed it down to [line 1399](https://gist.github.com/Th3Whit3Wolf/20aa1d96ff55e416d6b268d761496a5d#file-packages-vim-L1399).

If I replace

[code]

with

[code]

the error goes away.

@Th3Whit3Wolf could you try and see if this fixes it for you as well?

[2020-11-05 19:25] katsika commented on #72
Interesting, tried to replicate it now and couldn't. So I was either doing something wrong before that have corrected ever since or there was an upstream change. Will close for now. Thanks for looking into it and apologies for wasting your time!

[2020-11-05 19:25] #72 closed

[2020-11-05 20:12] Th3Whit3Wolf commented on #64
Using it with my current setup gives me

[code]

[2020-11-06 01:51] wbthomason commented on #64
@nanotee: I'm surprised that the modified use of `luaeval` in your suggested patch is valid. `_packer_load` is the name of a globally defined function (so I don't think it's an expression), and (per the docs, at least) the only way to pass arguments to a function call in `luaeval` is by using the "magic global _A".

Also, that line is hardcoded in `packer`'s output, so it's common to *everyone*'s

[2020-11-06 01:52] wbthomason commented on #72
@lewis6991: Thanks for the feedback - if you have suggestions for how to highlight the difference better in the README/elsewhere, I'd be happy to merge a PR!

@katsika: No worries, I'm glad things are working now! Sorry for the difficulty.

[2020-11-06 01:57] wbthomason commented on #82
Hmm. I wonder if this is a Windows thing (which would be unfortunate because I don't have a Windows machine to try and repro errors).

What's your `git` version, out of curiosity? There have been issues previously with `git` versions on Windows.

[2020-11-06 02:04] wbthomason commented on #85
I'm glad you got things working. I'm not sure why `PackerCompile` didn't replace your file; it should **always** overwrite an existing file...

[2020-11-06 08:00] fffed commented on #85
@wbthomason, Hi, and thanks for great plugin, but I have the same issue: when I mark packer.nvim as optional `use {'wbthomason/packer.nvim', opt = true}` with `vim.cmd [[packadd packer.nvim]]` on top of the file `lua/plugins.lua` a new compiled file then had next calls:
[code]
But when I remove the `opt` - everything is OK.

[2020-11-06 10:13] nanotee commented on #64
Nevermind, I initially narrowed it down by commenting the line out but this seems to have been an unrelated error, apologies for the noise.

I have since managed to reproduce the actual bug reliably by inspecting @Th3Whit3Wolf 's config more closely. It stems from `string.dump()` generating invalid code for the `config` key. Here's a minimal repro:

[code]

The error comes from `local vim = vim`.

[2020-11-06 15:28] nanotee commented on #40
Leaving this here just in case it turns out to be useful: Git has a `GIT_TERMINAL_PROMPT` environment variable that deactivates the password prompt (which you probably don't want when using Git non-interactively)

https://serverfault.com/a/665959

[2020-11-07 12:28] Th3Whit3Wolf commented on #64
removing `local vim = vim` doesn't fix it for me.

[2020-11-07 22:38] tami5 commented on #77
I'm having similar issue, I've set the value of config and setup to function() print("hello") end . For some reason only setup function get printed but not config. I'm using packer's startup method

[2020-11-08 09:25] sunjon opened #86 "Errors when updating repos with branch named "main" instead of "master""
Github allows users to change the [default branch name from master](https://github.com/github/renaming). Packer doesn't currently support `main` as a branch name:

[code]

[2020-11-10 15:28] wbthomason commented on #86
So, you can work around this by using `packer`'s "branch" feature, e.g. `use {'jamessan/vim-gnupg', branch = 'main'}` should work. But that is a lot of extra noise if you have many plugin repos which use `main` (or something else) as their default branch name.

Do you think it would be helpful to provide a new setting for the default "default branch name"? Other than that, I'm not sure there's a w

[2020-11-10 16:56] timbedard commented on #86
Why not make the inclusion of a specific branch (ref, etc) on the clone command conditional based on whether or not a branch is provided? If there's not a specified branch, don't clone a specific branch. I'm looking through vim-plug and that seems to be the approach there. There are probably some side effects in terms of how updates would need to work, but this seems like the more future-proof app

[2020-11-12 18:18] wbthomason commented on #86
@timbedard Ok, that seems like a reasonable solution. The trick will be in detecting what to check out if a plugin spec changes branches, e.g. if a user initially specifies `use {'foo/bar', branch = 'baz'}`, but later changes their spec to `use {'foo/bar'}`. That's the main place `packer` uses `master` as the "default" branch name.

It looks like `vim-plug` handles this by reading `${GIT_DIR}/refs

[2020-11-12 19:11] #86 closed

[2020-11-12 19:12] wbthomason commented on #86
@sunjon and others: this should be fixed now, but please let me know if you still encounter errors (or encounter new errors this change may have introduced). Thanks!

[2020-11-12 19:13] wbthomason commented on #77
@tami5: Can you post the full spec you're using? Please note that if you're using `setup`, `opt = true` is implied and does not need to be manually specified. That said, things should still work even if it is redundantly specified, so this may be a bug in the compilation logic.

[2020-11-12 19:20] wbthomason commented on #64
@Th3Whit3Wolf: Just to confirm, after commenting `local vim = vim` and recompiling, you still have invalid code generated?

[2020-11-13 03:09] timbedard commented on #86
@wbthomason Nicely (and quickly) done! Working great. Thanks!

[2020-11-13 16:23] wbthomason commented on #85
@ffed: Is your version of `packer.nvim` the latest? I've removed all uses of `_update_package_paths` in the project.

[2020-11-13 16:40] #80 closed

[2020-11-13 16:40] wbthomason commented on #80
@stephan-hesselmann-by: This should be fixed now - could you please confirm that `PackerClean` now works as expected?

[2020-11-13 17:02] #75 closed

[2020-11-13 17:03] wbthomason commented on #75
@clason I've added this. Please let me know if it's not working as expected!

(Thanks @crs for providing your implementation! I've credited you in the code, please let me know if you'd like other attribution)

[2020-11-13 17:16] clason commented on #75
Very nice! Two minor things:

* I get a weirdness with the `guibg` highlight for parts of the float:
<img width="659" alt="Screenshot 2020-11-13 at 18 13 16" src="https://user-images.githubusercontent.com/2361214/99100307-f4334b80-25db-11eb-89ca-87d35d4be0a4.png">
Possibly just my color scheme -- which highlight group is used for the first and last column?

* It'd be extra cool if the height of th

[2020-11-13 17:29] stephan-hesselmann-by commented on #80
Yes it works as expected now. Thanks for the fix!

[2020-11-13 17:41] fffed commented on #85
Yes, it is the latest. I've updated today and tried to move `packer` to `opt` and yet have this error.

[2020-11-13 18:12] wbthomason commented on #75
I used exactly the snippet you posted above, modified to correctly return the status, window ID, and buffer ID. So, I think the highlight should be `NormalFloat`? It might also be an issue with the size, though it seems to look right on my config.

Making the popup height depend on the number of plugins should be feasible, but will require a bit of refactoring (right now, the display does not get

[2020-11-13 18:16] wbthomason commented on #85
Have you deleted your `packer_compiled.vim` and run `PackerCompile` or `PackerSync`?

[2020-11-13 19:12] clason commented on #75
I hadn't tested that, I just copied @crs pastebin before it expired ;) (It's not the highlight group; it looks like the calculation for the underlying "border window" is off by one. I'll play around with it after dinner.

The adaptive float is a separate issue, agreed.

[2020-11-13 19:21] fffed commented on #85
What i did:
1 - remove `packer_compiled.vim`
2 - make lua/plugins.lua looks like
[code]
3 - :w, :PackerCompile, :qa
4 - open nvim and run :PackerSync and :qa
5 - open nvim and see the error message
![image](https://user-images.githubusercontent.com/47778360/99112359-96642b00-25fe-11eb-81a7-8bc616854d59.png)

[2020-11-13 19:44] wbthomason commented on #85
Strange. Very dumb question, but the `packer_compiled.vim` you deleted was at `~/.config/nvim/plugin/packer_compiled.vim`, right?

My confusion is because the `packer` repo literally does not contain the string `_update_package_paths` anywhere except in the docs/README after b3a1bb3...

[2020-11-14 12:10] fffed commented on #85
Right, and I even tried to remove `packer`'s git repo but result the same. @wbthomason , could you reproduce this bug with `opt` property for `packer`?

[2020-11-15 07:02] rickysaurav opened #87 "Behaviour of requires seems slightly unintuitive"
When plugin A requires plugin B, I expect Plugin B to be available before Plugin A starts loading. Packer adds Plugin B to "after" of A i.e. plugin B is loaded after plugin A is loaded, which is slightly unintuitive in terms of what I would expect from a dependency.
This causes issues when the dependency of an optional plugin is not available in "start" packages.
Reproduction:
[code]
Calling "Tele

[2020-11-15 12:39] nanotee opened #88 "Plugins with an `as` key cause PackerClean to throw an error"
Minimal `plugins.lua`:

[code]

Using the `PackerClean` (or `PackerSync`) command results in this error:

[code]

I think this is a regression introduced by https://github.com/wbthomason/packer.nvim/commit/5df62b0b9aa7d66013c267536d06cdd388396e69 , older versions of `packer` don't seem to have this bug.

[2020-11-15 18:29] wbthomason commented on #87
`requires` is meant to specify dependencies, but not loading order. For loading order, there's the `after` key.

I see what you're saying in terms of this potentially being unexpected. To me, a dependency specification only implies that the required plugin should be installed, not necessarily loaded first. For instance, it's reasonable for one plugin to depend on another, but need to load itself f

[2020-11-15 19:10] rickysaurav commented on #87
I expect requires to be behave opposite to "after" i.e. Something like "before" and
slightly similar to dein's "depends" feature along with the added bonus of installing plugins as well.

Let's take the telescope loading snippet for example. When I specify that telescope requires  popup and plenary, i expect it to ensure popup and plenary are installed and source them before sourcing telescope lik

[2020-11-17 23:39] wbthomason commented on #87
Hmm. I think I lean more toward adding a `before` keyword (which can be implemented in terms of `after`). To me, it's better to separate the concerns of installing and loading a plugin, rather than having `requires` do both.

That does require users with your use case to specify two things, rather than the single `depends` or `requires`, though. I wish I had a better sense of how many people view

[2020-11-18 01:01] #88 closed

[2020-11-18 01:01] wbthomason commented on #88
Thanks for the report! Indeed, it was a regression - I accidentally dropped a `nil` check.

[2020-11-18 01:06] wbthomason commented on #85
That's the confusion - I cannot reproduce this.

Could you please run `grep -RHn _update_package_paths .` in `~/.config/nvim/` and in `~/.local/share/nvim/site/pack/packer`? I suspect that you have an unexpected old copy of `packer` or an unexpected old `packer_compiled.vim` file sitting around somewhere; I'm not sure how you could be getting this error otherwise.

[2020-11-18 11:55] fffed commented on #85
[code]

[code]

[2020-11-18 12:06] wbthomason commented on #85
You have an old copy of `packer` (and perhaps other packages) in `~/.config/nvim/pack/packer/` - try deleting that directory. I'm guessing that you changed your `packer` install path at some point, and now have some packages in `~/.config/nvim/pack` and some in `~/.local/share/nvim/site/pack`.

[2020-11-18 13:16] fffed commented on #85
Yes, it helps, thank you very much.

[2020-11-18 15:34] wbthomason commented on #85
@fffed: Glad it's working now; sorry for the confusion.

[2020-11-19 08:46] huyvohcmc opened #89 "How to set rtp path for fzf.vim?"
I have fzf installed by homebrew on macOS and is installing packer.nvim but unable to [set rtp for fzf.vim](https://github.com/junegunn/fzf/blob/master/README-VIM.md#installation):
[code]

[2020-11-19 15:04] wbthomason commented on #89
If you have `fzf` installed via Homebrew, you don't need to also install it with `packer` - you can just directly modify the `rtp` as shown in the fzf README.

That said, the following should also work: `use '/usr/local/opt/fzf'` (like the vim-plug example)

The `rtp` key in a plugin's specification is to specify a *subdirectory* of the plugin that needs to be added to the `rtp`.

Finally, note th

[2020-11-19 15:23] huyvohcmc commented on #89
With:
[code]
I get this error when using fzf in nvim:
[code]
This is my fzf configuration in lua:
[code]

[2020-11-19 15:57] wbthomason commented on #89
Just to sanity check: you have run `PackerInstall` or `PackerUpdate` or `PackerSync`, correct? If so, could you please post the output of `ls /usr/local/opt/fzf` - I do not have a Mac, so I cannot easily test or reproduce this on my own.

[2020-11-19 15:59] ranebrown opened #90 "Update/sync known plugins"
If you are editing `lua/plugins.lua` and remove a plugin or add a new one `PackerClean` or `PackerInstall` don't detect the change without quitting and restarting. Is there a way to update the changes to avoid the quit/restart?

[2020-11-19 16:07] huyvohcmc commented on #89
Haha I didn't run PackerInstall so I must be insane, thanks a lot @wbthomason 🎉

[2020-11-19 16:07] #89 closed

[2020-11-19 16:12] wbthomason commented on #90
Yes - you can run `:luafile %` to source your `plugins.lua` again. Note that unless you force-unload your plugins module (e.g. with `package.loaded['plugins'] = nil`) at the top of your `plugins.lua`, this will only work the first time (until a restart), since Lua only loads modules a single time.

[2020-11-19 16:12] #90 closed

[2020-11-19 16:12] wbthomason commented on #89
Glad it's working for you!

[2020-11-19 16:22] ranebrown commented on #90
Thanks for the info, I'm just starting to get familiar with lua stuff.

[2020-11-19 16:24] wbthomason commented on #90
Yeah, there's a lot to learn; it takes some time. You may find https://github.com/nanotee/nvim-lua-guide helpful, if you haven't already taken a look.

[2020-11-20 00:07] datwaft opened #92 "Config key not working when used together with setup key"
Hello, I am trying to configure my _colorscheme_ using the `config` and `setup` keys but the `config` function doesn't execute, only the `setup` function; if I only have `config` in plugin it executes, though.

I have executed `:PackerCompile` many times, also.

I am testing this behaviour with `:echom` and `:messages`.

Here is a screenshot:

![image](https://user-images.githubusercontent.com/377

[2020-11-20 00:11] datwaft commented on #92
Additionally, currently I decide to just use a config key with everything there.

![image](https://user-images.githubusercontent.com/37723586/99739543-9d71ba00-2a92-11eb-8e9d-e983beb4b7d7.png)

[2020-11-20 01:58] phantomion opened #93 "ft = 'filetype' doesn't always work properly"
Like the title says the ft option doesn't always work e.g. when I do `use {tpope/vim-fireplace, ft='clojure'}` it seems to work properly, but when I do `use {'slashmili/alchemist.vim', ft = 'elixir'}` it won't load alchemist. Log file says `Sourcing $HOME/path/to/opt/alchemist` but it doesn't load. I also use `vim-polyglot` if it matters and I tried to load `alchemist` after polyglot, but the resu

[2020-11-20 13:24] wbthomason commented on #93
Interesting. Given that you say it works for Clojure, I assume you're using `PackerCompile` correctly. Could you please post your compiled file here, and I'll take a look to see if I can figure out what's going on?

[2020-11-20 14:18] phantomion commented on #93
This is the compiled file. I also checked the `indentLine` and `ron.vim` plugins which I use for nim and ron files respectively. They don't work either.

[code]

[2020-11-20 14:25] wbthomason commented on #93
Interesting - the `FileType` commands seem to be uniformly and correctly generated. Could you please tell me what `:set filetype` reports in an Elixir/Ron/Nim file with this configuration? I suspect that the FileType event is never triggering, but `alchemist.vim` doesn't look like it defines a `ftdetect` script, and you said you tried loading `polyglot` first, so I'm not sure why that would happen

[2020-11-20 14:50] phantomion commented on #93
The filetypes for elixir and nim are correct. The filetype for ron is empty which I guess makes sense since it needs the plugin, but when I used `vim-plug` and did `Plug 'ron-rs/ron.vim', {'for': 'ron'}` it worked fine. I'm not sure I loaded `polyglot` first correctly though. I tried using the `after` option like `after = 'sheerun/vim-polyglot'` and `after = 'vim-polyglot'`, but none of them worke

[2020-11-20 15:03] bryceyang opened #94 "can't figure out why plugin installing failed by error log"
[code]
How does packer consider a installing progress failed?  Error log seems normal.
Could this be a ticker timeout issue within packer?

[2020-11-20 19:39] nanotee commented on #93
I have tested this with a clean instance of Neovim (no plugins or config) and... this looks like it could be a quirk of `:packadd`?

This works:
- Clone `slashmili/alchemist.vim` in `start`
- Open Neovim
- `:scriptnames` reveals that `after/plugin/alchemist.vim` has been sourced

This doesn't:
- Clone `slashmili/alchemist.vim` in `opt`
- Open Neovim
- `:packadd alchemist.vim`
- `:scriptnames` reve

[2020-11-20 20:39] phantomion commented on #93
Yeah when I tried without the ft option everything worked fine. Maybe I should fine another workaround.

[2020-11-20 20:57] wbthomason commented on #94
This is probably a timeout getting triggered; it looks like your connection speed is very slow. This is controlled by the `git.clone_timeout` configuration value; try changing that to something larger (it defaults to 60 seconds).

[2020-11-20 21:03] wbthomason commented on #93
@bfredl is there any chance the recent changes to native packages could be affecting this?

@nanotee thanks for testing that!

If this is "working as intended" for `packadd`, then perhaps I should add a manual check + sourcing for `after/*` files...

[2020-11-20 21:04] wbthomason commented on #92
Could you please post your `packer_compiled.vim` file? I'd like to inspect it; I have a suspicion about a possible bug.

[2020-11-20 23:05] bfredl commented on #93
dunno, someone else had a similar problem and then it turned out something else was a problem. `after/` behaviour is not changed by my recent changes at least :D

[2020-11-20 23:07] bfredl commented on #93
Hmm it is a little bit suspicious that `packer.nvim` is manually doing `after/` stuff at all. the core plugin code (already the code inherited from vim) is _supposed_ to handle all that (if it does not I will fix it)

[2020-11-20 23:15] wbthomason commented on #93
So, unless I'm forgetting something I implemented, we currently aren't doing anything manually with `after/`. It's just that we might have to add something to manually source files in if this problem reproduces and isn't an issue with `packadd`.

[2020-11-20 23:17] bfredl commented on #93
I was just reading what the "Automatically generated packer.nvim plugin loader code" was doing but maybe I misunderstood it.

[2020-11-20 23:18] datwaft commented on #92
Here is my current `packer-compiled.vim`:  [current-file.zip](https://github.com/wbthomason/packer.nvim/files/5576523/current-file.zip)

<details>
<summary>Current file</summary>

[code]

</details>

Here is a `packer-compiled.vim` trying to recreate the bug:  [bug-recreated.zip](https://github.com/wbthomason/packer.nvim/files/5576565/bug-recreated.zip)

<details>
<summary>File trying to recreate

[2020-11-20 23:36] wbthomason commented on #93
Ah - if you're referring to the `handle_after` function, that's for handling `packer`'s sequence loading keyword, which is (confusingly) also `after`.

[2020-11-21 01:55] #92 closed

[2020-11-21 01:56] wbthomason commented on #92
Thanks for this report! It revealed a logic error in the lazy-load compiler. This should be fixed by 3a4fe6b; please let me know (and reopen the issue) if you still have the original problem or notice any regressions.

[2020-11-21 01:59] wbthomason commented on #69
I was just taking another look at this issue and noticed that some of the moved code was originally in a `defer_fn` call. I'd be surprised if that section of the code could account for a 20ms slowdown, but it occurs to me that this could absolutely account for some of the slowdown you notice here. Any chance that eliminates the issue?

[2020-11-21 07:11] datwaft opened #95 "Update always fails in Debian"
Hello, after migrating my vim configuration from Ubuntu to Debian I am currently having this problem: every time I use the `sync` or `update` command it fails for every plugin (but it works for the `install` command). The problem didn't happen with the same configuration in Ubuntu.

Here is a screenshot with only _packer_ as a plugin (after commenting my configuration file and plugins file):
![ima

[2020-11-21 07:17] Th3Whit3Wolf commented on #64
That's correct, I am using a different system now and have upgraded to neovim version `v0.5.0-851-g97ffa158a` and am using the latest version of packer.

Here is my plug.lua

[code]

I get the following error

[code]

Here's my packer_compiled.vim

[code]

[2020-11-21 12:20] Th3Whit3Wolf commented on #64
I don't think I've mentioned this yet but I'm running on linux if that's relevant.

[2020-11-21 13:23] nanotee commented on #93
Looks like this is the intended behavior: https://github.com/vim/vim/issues/1994

[2020-11-21 14:41] kflak opened #96 "vim.schedule error on PackerSync"
Hi,

Getting this after running PackerSync:
[code]
Nvim version:
[code]
Arch Linux.

It started happening a couple of days ago.

[2020-11-22 14:55] salkin-mada opened #97 "use {url}=404 will hang nvim and terminal"
using a non existing repo
[code]
and then `:PackerSync` or `:PackerInstall` freezes/hangs nvim and my terminal.
only solution is to kill my `sway` window.

Arch Linux 5.9.1-rt20-1-rt
NVIM v0.5.0-856-g7dfeadb0f
alacritty 0.5.0 (a6681e3a)

[2020-11-22 17:24] ellisonleao opened #98 "local plugin not being loaded"
Hey @wbthomason i am having a recent issue on loading local lua plugins into my system

this is the part i am not getting `gruvbox.nvim` into `package.loaded` table, so if try to `require("gruvbox")` , it fails.

A minimal setup is something like:

[code]

And `packer_compiled.vim` looks like this:

[code]

Am i missing something here?

[2020-11-22 18:00] #98 closed

[2020-11-22 18:05] wbthomason commented on #98
Hi, @ellisonleao! I'm guessing you fixed this - can I ask what the problem you found was?

[2020-11-22 18:17] ellisonleao commented on #98
i am still debugging, but it seems the packages are being added in the correct folder. Will let you know as soon as i found what the issue is

[2020-11-23 05:12] ellisonleao commented on #98
turns out the issue was in one of my local plugins, so we are all fine here

[2020-11-23 16:05] #40 closed

[2020-11-23 16:06] wbthomason commented on #97
I believe this is closed by the PR #91 that was just merged - @salkin-mada, can you confirm?

[2020-11-23 16:06] wbthomason commented on #42
Fixed by #91

[2020-11-23 16:06] #42 closed

[2020-11-23 16:06] wbthomason commented on #26
Presumed fixed by #91

[2020-11-23 16:06] #26 closed

[2020-11-23 16:13] wbthomason commented on #96
Interesting, that part of `packer` hasn't changed since 2020-06-15 (for the function where the error happens)/2020-07-11 (for the function called to produce the argument that seems to cause the error), and I'm also not able to reproduce the error on my end (with a slightly newer Neovim - could you try rebuilding?)

What commit of `packer` are you on? Anything after July should be new "enough" for

[2020-11-23 16:21] wbthomason commented on #93
Unfortunate (but thanks @nanotee for the find!)

`packer` could add manual handling of `after/plugin/`, but, as @bfredl mentions, that seems fishy/like maybe a bad idea. Still, given that I disagree with the reasoning in https://github.com/vim/vim/issues/1994 (it may be an anti-pattern, but plugins should still be sourced the same whether or not they're in `start` or `opt`), this might be the best

[2020-11-23 16:23] wbthomason commented on #95
Thanks for the report! Could you tell me what your `git` version is (and ideally what your `git` version was on Ubuntu)?

I suspect this might be the issue hypothetically fixed by https://github.com/wbthomason/packer.nvim/pull/54; if you can confirm that this PR fixes the problem for you, I can go ahead and merge it (it's just waiting on validation from someone who can repro the problem).

[2020-11-23 16:48] wbthomason opened #99 "Add git submodules support"

[2020-11-23 17:05] bfredl commented on #93
We (neovim core) are not bound by unfortunate desicions made by vim. We should change `opt/` handling in neovim core to respect the existing `after/` pattern properly handled by all plugin/package solutions other than brampackages.

[2020-11-23 21:11] datwaft commented on #95
It seems Debian has version `2.20.1` and Ubuntu has version `2.25.1`.

Here some screenshots:

**Debian:**
![image](https://user-images.githubusercontent.com/37723586/100013031-d020f880-2d99-11eb-8006-e60ddc33bc98.png)

**Ubuntu:**
![image](https://user-images.githubusercontent.com/37723586/100013050-d7480680-2d99-11eb-8bc5-970a054725fb.png)

---

The pull request branch seems to fail when install

[2020-11-23 21:46] carlitux commented on #95
@datwaft about `vim-slime` you need to put the branch to `main` github now use main instead of master. for later also share your packer set up so you can have better help.

[2020-11-23 21:56] datwaft commented on #95
Thanks for the tip about `vim-slime`. Curiously, that error only happens on **Debian** with that PR branch, so it is probably fixed in the lastest version of `packer`.

Also, I put my packer setup in **Additional details**.

I am currently using **Ubuntu** as my main WSL OS and keeping **Debian** for if you need more information.

[2020-11-23 23:16] datwaft commented on #95
Additionally, every time I open nvim this error appears:

![image](https://user-images.githubusercontent.com/37723586/100026045-a672cc00-2daf-11eb-81d8-db7a009e8360.png)

[2020-11-24 00:30] salkin-mada commented on #97
yep. confirmed. great work!

[2020-11-24 00:30] #97 closed

[2020-11-24 03:13] Iron-E commented on #87
I'm currently facing this issue too. If one plugin `requires` another, then that plugin has to be loaded first.

`before` seems to me like it would be like a `required_by` field: it would load that plugin after.

Example:

[code]

[2020-11-24 03:16] Iron-E commented on #53
I have this in my `plugins.lua`, which is sourced by my `init.vim`:

[code]

Still have to `PackerCompile`/etc though.

[2020-11-24 03:20] bryceyang commented on #94
can't reproduce this myself now.. I will close this issue and taking this as a timeout problem caused by poor network.

[2020-11-24 03:20] #94 closed

[2020-11-24 06:32] rickysaurav commented on #87
[code]

I think "after" keyword should mitigate your issue. This'll ensure that even if completion-nvim is lazily loaded, completion-buffers will be loaded after completion-nvim.
In this scenario, the sourcing of "dependency"(completion) triggers loading of the "dependent"(completion-buffers). I would like a reverse scenario where loading the dependent ("telescope.nvim") would trigger loading of t

[2020-11-24 07:12] kflak commented on #96
OK, found it! Turns out I had `luajit-2.1-git` installed instead of the community repo version of luajit, which is currently on 2.0.5-3, so I suspect there are some changes coming up that you might want to look into...

[2020-11-24 07:12] #96 closed

[2020-11-24 13:10] nanotee commented on #64
Okay, had another go at this, I really hope I got it this time because it's been bugging me

I ended up installing the config outright to see what was going on and I think I found the culprit: https://github.com/Th3Whit3Wolf/Almost-Finished-Neovim-Config/blob/19d423dab36289ded345803232d119ca2fe7ed5e/lua/variables.lua#L41

RainbowParentheses expects `g:rainbow#pairs` to be a list, but it's a string

[2020-11-24 17:03] Iron-E commented on #87
That helps, thanks!

I think we are describing the same thing though. I expected `require` to actually `use` the specified plugin, and ensure that the `require`d would be available before the specifier.

By that I mean, I expected the `require`d to come before

[2020-11-24 17:14] wbthomason commented on #95
Ah, @datwaft, sorry about that - the PR I requested you to try failing is entirely my fault; it was missing commits from `master`. If you have a chance, could you please try it again?

[2020-11-24 17:14] wbthomason commented on #97
All credit for that one goes to @nanotee, but I'm glad things are working for you!

[2020-11-24 17:16] wbthomason commented on #53
@Iron-E: would it be OK if I adopted that (with credit) for use in the README as a suggested bootstrap snippet? It's one of the cleanest I've come across.

[2020-11-24 17:16] wbthomason commented on #94
I'm pretty sure that was the cause - either way, I'm glad things are working for you now!

[2020-11-24 17:17] Iron-E commented on #53
Feel free!

[2020-11-24 17:18] wbthomason commented on #96
Ah, brilliant! Thanks for the heads-up; I'm guessing this will cause upstream breakage too.

[2020-11-24 17:23] wbthomason commented on #64
Fingers crossed, since I have not been able to isolate this to anything with `packer` (I admit I hadn't had the time to go through your config yet, @Th3Whit3Wolf).

@Th3Whit3Wolf: Does @nanotee's suggestion fix this issue for you?

[2020-11-24 17:27] wbthomason commented on #53
Great, thank you!

[2020-11-24 17:29] #53 closed

[2020-11-24 17:46] wbthomason commented on #87
@rickysaurav's suggestion is correct (and my original intent for how `require` should work), but it's becoming clear that this isn't intuitive for a good number of users.

I think I'll change `requires` to (a) add a dependency and (b) add sequence requirements to load all `require`'d plugins before the parent. I'll also add a `depends` keyword to just do what `requires` currently does. `after` wil

[2020-11-24 17:49] Iron-E commented on #87
I like that, it still allows flexibility but doesn't necessitate repetition of configuration.

[2020-11-24 17:55] datwaft commented on #95
I just tested it, and it seems to work perfectly.

Here are some screenshots:

<details>
<summary>Screenshots</summary>

#### Install

![image](https://user-images.githubusercontent.com/37723586/100132694-66612700-2e4b-11eb-8f04-dfd83021c51c.png)

**Note:** `nvim-treesitter-refactor` fails because I have it configured to _require_ `treesitter` or so I think, curiously `nvim-treesitter-context` als

[2020-11-24 17:55] rickysaurav commented on #87
Sounds great.  We should also add small table/section in the readme summarizng differences between these keywords in short for new users.

[2020-11-24 18:02] wbthomason commented on #95
Thanks! It's strange that you do still see the one failure - does that happen repeatably?

Separate from that, I'll go ahead and merge the PR to fix this issue on `master`. Thank you for the help!

[2020-11-24 18:02] #52 closed

[2020-11-24 18:06] datwaft commented on #95
No, it only happens the first time I do the install. I have my suspicions that it's because that plugin is configured to require `treesitter`, and `treesitter` hasn't been installed yet when I do the first install.

[2020-11-24 19:41] kflak commented on #96
Happy to help ;-)

[2020-11-24 21:58] Th3Whit3Wolf commented on #64
@nanotee Same here 100%!! That fixed it thank you so much for your help!

@wbthomason @nanotee suggestions fixed the issue. Sorry for filing out an issue for my own mistake.

[2020-11-24 21:58] #64 closed

[2020-11-24 23:06] Iron-E commented on #87
Something like this?

| Option | Example | Implementation |
|:---|:---|:---|
| `after` | `use {'org/foo', after='bar'}` | Load `foo` after `bar`. |
| `before` | `use {'org/foo', before='bar'}` | Load `foo` before `bar`. |
| `depends`  | `use {'org/foo', depends='org/bar'}` | Ensure `bar` is installed before `foo`. |
| `requires` | `use {'org/foo', requires='org/bar'}` | Ensure `bar` is installed a

[2020-11-25 09:28] bfredl commented on #93
Hmm, `opt/xx/after/plugin/xx.vim` actually work for me when `packadd! xx`. Is there a complete minimal example of a config where it does not work?

[2020-11-25 17:22] ranebrown opened #100 "PackerInstall fails"
After 06caefb116998aa60fab37e54137942da4de4755 / #91 `:PackerInstall` fails. This is on a network that requires a proxy and it looks like the existing environment variable `https_proxy` is no longer used. Adding that variable to the env config in `lua/packer/plugin_types/git.lua` fixes the issue. It seems like it would make sense to keep the old behavior of using variables that are already set rat

[2020-11-25 17:59] wbthomason commented on #64
No worries, I'm glad things are working for you! Thanks (yet again) @nanotee for the help!

[2020-11-25 18:00] wbthomason commented on #93
I think the config @nanotee describes [here](https://github.com/wbthomason/packer.nvim/issues/93#issuecomment-731369930) is probably the closest to a complete minimal config demonstrating the behavior.

[2020-11-25 18:01] wbthomason commented on #100
Thanks for the report! I agree, the fix is probably to duplicate the environment.

[2020-11-25 18:08] wbthomason commented on #100
@ranebrown: Could you please check if https://github.com/wbthomason/packer.nvim/pull/101 fixes this problem for you?

[2020-11-25 18:16] wbthomason commented on #95
That shouldn't happen, though - everything should be installed at once in that case. Does it happen *every* first install?

[2020-11-25 18:19] nanotee commented on #93
@bfredl Interestingly, `packadd xx` on its own in `init.vim` seems to work as intended, but the following doesn't source files in `after/plugin`:

[code]

[2020-11-25 18:33] nanotee commented on #100
My bad, I should've been more careful when I sent the patch

This seems to works as a temporary fix:

[code]

[2020-11-25 18:45] datwaft commented on #95
Yes, it happens every time I remove `packer` and clone it again, as I was doing when testing that pull request.

I am going to open a new Issue for that, should I close this Issue now or do you close it?

[2020-11-25 19:16] ranebrown commented on #100
Yep, that one works

[2020-11-25 19:44] datwaft opened #102 "tree-sitter-refactor fails every first install of packer"
Hello, the plugin `tree-sitter-refactor` fails every first install of packer.

<details>
<summary><b>Screenshot</b></summary>

![image](https://user-images.githubusercontent.com/37723586/100273742-e3130480-2f22-11eb-99a9-733c7ebd88b3.png)

</details>

But after the first install the plugin works and updates normally.

## How to reproduce the bug

To reproduce the bug you should at least have the m

[2020-11-25 19:46] wbthomason commented on #95
Either way - I can close it for now. Thanks!

[2020-11-25 19:46] #95 closed

[2020-11-25 20:03] wbthomason commented on #100
Hmm, I am curious why the version in #101 doesn't work, though. @ranebrown, would you be able to rebuild Neovim from current `master`? My best guess is that the bundled `luv` version in your Neovim is out of date, since I cannot reproduce the failure on my end.

If you still see the failure, I'll adapt @nanotee's workaround to generate the environment table a single time, then update the PR with t

[2020-11-25 20:23] wbthomason commented on #102
Ah! I see what's going on here. The bad news is I'm not sure what should be done to fix it.

The line throwing the error is one which sources an updated (or just installed) plugin to make it available without a restart. As you guessed in #95, it seems like `nvim-treesitter-refactor` is getting installed before `nvim-treesitter` has completed installing (I'm guessing it's a smaller repo or somethin

[2020-11-25 20:30] datwaft commented on #102
I would prefer the second one, that is the functionality I would expect from `requires` or maybe `after`.

Thanks!

[2020-11-25 21:02] ranebrown commented on #100
I tried using the HEAD install with brew and a direct install from a fresh clone/build and got the same error. Maybe related to being on a Mac?

[2020-11-26 00:32] wbthomason commented on #100
Strange. Regardless, it seems like we cannot depend on `os_environ` being present, so I'll rework #101 based on @nanotee's workaround. Thanks!

[2020-11-26 00:34] wbthomason commented on #102
Related to existing proposed rework of `require` semantics in #87.

[2020-11-26 21:24] clason opened #103 "Math.max changes in LuaJIT"
So it appears that LuaJIT made some breaking changes to `math.max` and `math.min` (possibly in https://github.com/LuaJIT/LuaJIT/commit/03208c8162af9cc01ca76ee1676ca79e5abe9b60?) which lead to an
[code]
on `:PackerUpdate`.

Unfortunately, this change is pulled in when bumping LuaJIT to a commit required to get it building on ARM64 (specifically, Apple M1), see https://github.com/neovim/neovim/pull/

[2020-11-26 23:12] wbthomason commented on #103
Yes, this was also encountered by #96 - my plan was to wait until a version of LuaJIT with that patch was formally released, but if people are already running into this issue by building from LuaJIT `master`, I may need to add a shim or change my use of `max`/`min`.

Do you know of a textual summary of the changes? I'm having a hard time telling what's changed from reading the LuaJIT commit you li

[2020-11-26 23:19] clason commented on #103
Oops, sorry, didn't see that issue! Yes, that's the same. It's not on master yet, but I expect it will be by the time 0.5 is released to allow native builds on Apple silicon. (At least I hope so ;))

Unfortunately, I couldn't find any explanation of these changes, either (nor a closed issue that looks related) 😞 (And that specific commit seems more like switching arguments around, so not really su

[2020-11-26 23:25] wbthomason commented on #103
Yup. I think I'll still hold off on taking action on this for the moment, but will try to find a chance to play with the new LuaJIT and see if I can figure out what the change introduces. I do wonder if this is a regression in LuaJIT, since using `max`/`min` on an `unpack`'d table _seems_ like something that should still be fine...

[2020-11-26 23:37] wbthomason commented on #100
@nanotee did you find that you had to copy the result of `environ()` into a list of strings of the form `{KEY}={VAL}` for your workaround to work? I would expect that just passing a dictionary should work, based on the Luv docs.

[2020-11-26 23:42] wbthomason commented on #100
I've pushed an update to #101 that just passes a table; if that doesn't work, I'll build a table of strings like the above workaround (if it does work, then I'll merge #101).

[2020-11-27 00:06] nanotee commented on #100
@wbthomason I just tried the latest commit from #101 and it really does seem like `options.env` has to be a list of strings, otherwise I can reproduce #26

[2020-11-27 00:41] wbthomason commented on #100
Huh, that's surprising and disappointing. Thanks for giving it a go! I'll switch to a list of strings and merge now, then.

[2020-11-27 00:46] #100 closed

[2020-12-01 20:24] RefusesNames commented on #82
I do not know what happened in this time, but it now works. There are too many variables to pin point what fixed it (I updated Neovim, I updated Packer, I switched the source of my git binaries and updated on the way). My guess is that switching to a newer version of git provided via scoop did the trick. If anyone runs into the same issue, I would suggest you start there.

For me it's now fixed.

[2020-12-01 20:24] #82 closed

[2020-12-01 22:16] datwaft opened #105 "`config` doesn't work with `after` at the same time"
Hello, I am having a problem where the `config` key doesn't work when the plugin also has the `after` key.

## What I am trying to do

I am trying to:

1. Load `lightline` and create a global vim variable with the configuration.
2. Load the _colorscheme_.
3. Add to that global vim variable a new key with the theme for lightline.

## How to recreate the bug

This is the minimal configuration to tes

[2020-12-01 22:39] wbthomason commented on #105
Thanks for the report! This is indeed a bug in lazy-loader compilation. I'm working on a fix now.

Also, the current only documentation of the `after` key is the line in the big code block in https://github.com/wbthomason/packer.nvim#specifying-plugins (and the corresponding block in the `docs/`). What information do you think it would help to add?

Also, the semantics of `after` will be changing

[2020-12-01 22:58] datwaft commented on #105
I think it would be helpful to add how to specify the plugin.

Like, for example, if you specify `lightline` as `itchyny/lightline.vim` or as `lightline.vim`. And if the `as` key works as an alias with `after`.

[2020-12-02 00:37] cempassi opened #106 "nvim --headless +PackerCompile +PackerUpdate +qa generate errors"
Hi,

I'm trying to use packer to run tests on plugins in Docker, but I get some errors when I run this command:
`nvim --headless +PackerCompile +PackerUpdate +qa`

There should be a way do check if the buffer update can happend?

[2020-12-02 02:56] wbthomason commented on #106
What errors do you get?

[2020-12-02 04:04] cempassi commented on #106
`Error executing vim.schedule lua callback: .../site/pack/packer/opt/packer.nvim/lua/packer/display.lua:130: Expected 4 arguments%`

I'm sorry I shoud have stated with that.

I think the error comes from the way packer updates the buffer to report progress?

[2020-12-02 18:01] #105 closed

[2020-12-02 18:04] wbthomason commented on #105
Ah, excellent points. I'll add some quick notes.

Also, please let me know if you continue to experience the original bug.

[2020-12-02 18:22] wbthomason commented on #106
Ah, I see. I'll admit that `packer` isn't really designed to support headless operation, but this would be good to add. It's going to take some modification to `display.lua` to validate that the display window actually opened.

This is related to #63

[2020-12-02 18:24] wbthomason commented on #82
Hmm, thanks for the update. I suspect/hope this may have been due to #54, but I'm not sure. Regardless, I'm glad that things work now!

[2020-12-02 19:29] datwaft commented on #105
It works perfectly without the `as` to create an alias, but with `as` it gives me this error:

[code]

Here is an extract of my configuration:

[code]

[2020-12-02 20:13] wbthomason commented on #105
Ah, my bad - should be fixed in 242773d. Thanks for your patience!

[2020-12-02 20:29] datwaft commented on #105
The index value error seems to be fixed, but the other one continues:

[code]

<details>
<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/37723586/100927584-b4f56d80-34aa-11eb-8a1a-13bbf0688c19.png)

</details>

[2020-12-02 21:02] wbthomason commented on #105
Hmm, that one I cannot reproduce. I suspect this may be an error with your `plugins.colorscheme` or `plugins.lightline` modules, since that's the one part of your config that I didn't directly replicate. Do either of those functions contain upvalues? Due to the limitations of Lua's `string.dump`, functions passed to `config` and `setup` cannot use upvalues (this is hopefully getting worked around

[2020-12-02 21:05] cempassi commented on #106
I can try to implement and submit a PR for this specific case? I'm really a beginner in Lua but that doesn't seem to hard to just validate if the buffer/window is available?

[2020-12-02 21:14] datwaft commented on #105
Strangely, I commented the lines for `plugins.colorscheme` and `plugins.lightline` and the uncommented them and it works.

And when copying the configuration to Debian from Ubuntu it doesn't work. It seems to be an error from my side.

Thanks!

[2020-12-02 21:18] datwaft commented on #105
I think it was the old `packer_compiled.vim` that was giving me problems. After deleting it and compiling it again it works!

[2020-12-02 21:20] wbthomason commented on #105
Ah, got it. Glad to hear it's working now!

[2020-12-02 21:33] wbthomason commented on #106
You'd think not - unfortunately, it seems like some of the existing checks for this in `display.lua` (search for `is_valid`) aren't cutting it, so I need to find a new solution. If you can find something that works and send a PR, that'd be great!

[2020-12-02 21:47] wbthomason commented on #106
Heh, as soon as I wrote that I figured out a better solution. Please try #107 if you get a chance - if that fixes the issue for you too, I'll merge it in.

Also, just as a note, you probably want `nvim --headless +PackerUpdate +PackerCompile +qa` or just `nvim --headless +PackerSync +qa` - it seems better (though not critical) to update before compiling loaders.

[2020-12-02 21:48] wbthomason commented on #63
lol @ me for saying I'd get to this in "the next couple of days".

(1) should be fixed by #107 - could you (@gwerbin) test this PR if you get a chance?
(3) should've been fixed already by #91
I haven't done anything for (2) yet, but haven't forgotten.

[2020-12-03 09:47] weilbith opened #108 "Lazy load on require Lua module - possible?"
Hey,
this plugin manager looks pretty cool! I like the native package support with all those fancy features on top. :+1:

I'm always very interested into lazy loading functionality. I simply have a too big setup and use `nvim` too often for many small things where I simply don't need everything. With the rise of Lua plugins, key mappings that require a Lua module and execute a function becomes mor

[2020-12-03 10:18] cempassi commented on #106
I tested the PR on my end, fixes my issue. Thanks!

[2020-12-03 16:50] #106 closed

[2020-12-03 18:40] fsouza commented on #106
@wbthomason this is awesome, thank you very much! :D One last thing for perfect headless support would be a non-interactive mode (for example, when deleting a plugin, the `OK to remove? [y/N]` prompt will make ). Is this something you'd take a PR for?

[2020-12-03 18:42] wbthomason commented on #106
Yes, I'd happily merge that in! That was requested in another issue (I forget where) and has been on my backlog for a while now.

[2020-12-03 21:29] weilbith commented on #108
Thanks for your detailed answer!

Yeah, for a command that's works. That should be basically the same as for VimL, Python, Ruby... (?) plugins. But many Lua plugins are lazy or think it just makes no sense (because it is eventually more cumbersome to call a command in Lua configs than calling a function?). So lets say you have a mapping like `noremap silent <leader>a <cmd>lua require('the-plugin.m

[2020-12-03 22:40] kassio commented on #63
I'm also having similar problems:
[code]

The `line 162` on the compiled file has:
[code]

[2020-12-03 22:43] kassio commented on #63
If I remeve the line 162, then I get `E182: Invalid command name` with the next compiled command:
[code]

[2020-12-04 00:18] wbthomason commented on #63
From the error, I'm guessing you may be confusing the `cmd` and `run` keys?

[2020-12-04 00:23] wbthomason commented on #108
Ah, that's interesting. There might be a way to do this by hooking into Lua's `package` search mechanism, but the trick will be knowing what modules a plugin contains.

If we're given a list of module names, we might be able to intercept attempts to load those modules, perform a `packadd` to load the relevant plugin, and then allow the load to continue? I'll need to figure out more of what's possi

[2020-12-04 00:27] wbthomason commented on #108
Yeah, ok. This looks feasible with some `package.preload` or `package.loaders` cleverness.

If you feel like working on this yourself, I'd be happy to provide guidance and merge a PR. Otherwise, I'll add this to the list of features I want to implement.

[2020-12-04 05:24] wbthomason commented on #108
I suppose we could also add logic to scan plugins for the `lua/**` directories and determine the possible module names to lazy-load that way.

[2020-12-04 15:08] kassio commented on #63
@wbthomason that's right! Sorry for the noise, thanks for the help. It's working now.

[2020-12-04 20:42] weilbith commented on #108
Wow. This reads great!
Oh dear, I have way too less knowledge about this whole stuff. I eventually could start to read into the project. I can write some Lua, but regarding the whole internals/eco-system I'm a young novice. Also the plugins I need to start digging into is on-counting. :see_no_evil:
So if that is okay I would first put it on that feature list. If it does not get implemented after s

[2020-12-04 21:06] wbthomason commented on #108
Sounds good, no worries. If anyone else wants to take this up, the same offer stands!

[2020-12-05 12:45] numToStr opened #111 "Restore cursor position in floating mode"
Packer is awesome and thanks for making it. :heart:

So, I enabled the floating mode, and now whenever I run `PackerInstall` or `PackerUpdate` the cursor always moves to the first buffer in the splits which is NERDTree.

What I want is `packer` to restore the cursor position to the last buffer/cursor position after the floating window is closed.

[2020-12-05 21:27] Iron-E commented on #93
I just ran into an issue with whonore/Coqtail#162 that might also fall under the scope of this issue. Precisely, it is a syntax file which does not get sourced when restricted to only load on its own filetype.

[2020-12-05 23:02] wbthomason commented on #93
Do you also encounter this error when `packadd`ing the plugin manually? i.e. does this seem to be an issue with how `packer` implements `ft` vs. how `vim-plug` implements `for`, or with how Neovim/Vim implement native packages?

[2020-12-05 23:06] wbthomason commented on #111
Ah, nice catch (I don't use the floating window implementation myself, so I'm less likely to find bugs with that). I'll look into fixing this, but if you're willing to add a patch to the floating window implementation, that would be great! You'll probably want to use `line()` to find the position in the buffer before opening a new window/buffer, and `nvim_get_current_buf`/`nvim_get_current_win` to

[2020-12-05 23:40] Iron-E commented on #93
Yeah, packadding manually makes it work. This is what I did:

1. Comment out the `use` for `Coqtail`:
[code]
2. `:PackerCompile`
3. Modify ` ~/.config/nvim/ftplugin/coq/filetype.vim`:
[code]

That makes it work.

[2020-12-05 23:42] landerlo commented on #87
Is there any reason why `requires` shouldn't enforce the dependency to be loaded first? IMHO the proposed semantics with (depends/requires/before/after) adds unnecessary complexity.

[2020-12-06 00:22] landerlo commented on #87
Same for `before` and `after`. I know `use-package` has knobs like this, but we have different tools and languages, I'd expect loading in lua and nvim is much faster than in emacs. I think the `requires` gives all the ordering managing we need. For cases where you want more control, you can add extra `requires` dependencies to fine tune the DAG and introduce extra ordering constraints. I find that

[2020-12-06 06:44] wbthomason commented on #93
Well, that's unfortunate.

It looks like `vim-plug` does some explicit sourcing to handle this case (https://github.com/junegunn/vim-plug/blob/master/plug.vim#L387); perhaps `packer` needs something similar...

[2020-12-06 07:12] numToStr commented on #111
@wbthomason Thanks and but I am not sure how and when to return to the last buffer. I tried with `wincmd` in `BufWipeout` autocmd but It didn't work.

[2020-12-06 08:04] numToStr commented on #111
Ahh, I fixed it by using `winnr` and `wincmd`. :smile:

[2020-12-06 16:52] Iron-E commented on #93
Should I make a separate issue for that?

[2020-12-06 19:34] wbthomason commented on #61
@tami5: sorry about how long this took, but there's now a `non_interactive` option added in #109 that should serve as a "silent mode"

[2020-12-07 21:48] gwerbin commented on #53
Thanks for the fixes! Sorry I dropped off when I was supposed to be testing stuff...

[2020-12-08 02:40] #111 closed

[2020-12-08 06:15] sidmadala opened #114 "PackerCompile encounters "concat" error"
- `nvim --version`: NVIM v0.5.0-dev+4383c0f
- packer.nvim version(commit hash): 18244f03b76094dd0a62f6a210ff9f4303b18e51
- `:checkhealth` result: All green
- Operating system/version: MacOS Catalina 10.15.4
- Terminal name/version: Alacritty 0.6.0
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup

Use the configuration I have pasted below.

<details>
<summary>plugins.

[2020-12-08 14:44] wbthomason commented on #114
Interesting, thanks for the report. Your config looks reasonable, but I suspect there's an issue in one of the config modules you're requiring. Could you share a link to these modules?

`PackerCompile` should work with any plugins - what it does is to build code to automatically trigger loads of plugins based on certain conditions, and bundle in any user-provided configuration.

Adding explicit er

[2020-12-08 15:05] kuator opened #115 "Weird jump on operator lazy-loading"
Hi, first, thanks for the amazing plugin! Second, I noticed that if I try to lazy-load any operator plugin, like vim-surround, vim-commentary, replacewithregister, the moment packer loads it, cursor jumps to the beginning of the line.
![Peek 2020-12-08 21-04](https://user-images.githubusercontent.com/25168308/101500731-12048e00-3999-11eb-83bd-5509012a64c5.gif)

[2020-12-08 16:03] wbthomason commented on #115
Thanks for the report! Could you please post a snippet of your config showing an example of how you lazy-load one of these plugins? I suspect this is a bug in the main lazy-load function, probably to do with how we use `feedkeys` to run keymaps after loading a plugin.

Also, do you happen to know if this also happens with other plugin managers (e.g. `vim-plug`)?

[2020-12-08 16:54] sidmadala commented on #114
This is a [link](https://github.com/sidmadala/.dotfiles/tree/master/.config/nvim) to my Neovim dotfiles. Excuse me if I didn't understand what link you wanted correctly.

[2020-12-08 16:54] kuator commented on #115
Something like this:
[code]
Sorry, but I don't know about how vim-plug handles this, I used to use minpac and it didn't provide lazy-loading capabilities,

[2020-12-08 17:54] kuator commented on #87
In my case, plenary and popup.nvim are getting added to runtimepath, somehow. Same goes for completion.nvim and it's dependencies. But other plugins' requirements don't. For example, vim-textobj-line requires vim-textobj-user and it doesn't appear to be in runtimepath.

[2020-12-08 21:39] bfredl opened #116 "documentation about "package_path" is wrong"

[2020-12-08 21:39] #116 closed

[2020-12-08 21:58] bfredl opened #117 "documentation about "package_path" is wrong"
The docs mention:

    package_root   = util.is_windows and '~\\AppData\\Local\\nvim-data\\site\\pack' or '~/.local/share/nvim/site/pack',
    compile_path = vim.fn.stdpath('config') .. '/plugin/packer_compiled.vim',sync()

but this is not correct, `package_root` is defined as

    package_root = util.join_paths(vim.fn.stdpath('data'), 'site', 'pack'),

[2020-12-09 11:51] tami5 commented on #61
@wbthomason nice thanks.

[2020-12-10 06:23] Iron-E opened #118 "No change detected when altering plugin URI from upstream repo to local path"
Hello,

Thanks again for your continued work on this project. I've been enjoying using it lately!

There seems to be an issue when changing between local projects and upstream URLs. For example:

1. Specify an upstream plugin.
[code]
2. Install the upstream plugin.
[code]
3. Re-specify the plugin to use a local path.
[code]
4. Install the local plugin.
[code]

The second `PackerSync` will report "

[2020-12-10 17:12] wbthomason commented on #118
Thanks for the report! Yep, this is something I admit I've never tried, and the code does not handle. The check for missing plugins just looks to see that there's a name in the right place, and so everything seems correct to `packer` in this instance.

I suppose the right thing to do would be to also validate installed plugin types (e.g. look for the plugin being a symlink if it's local, look for

[2020-12-11 21:25] gwerbin commented on #87
I'm -1 on "before" and "depends". Systemd abounds with these "reverse dependency" directives, and without extreme discipline even a very small system becomes a ball of mud very quickly when using them. I feel like for 99% of use cases you won't need them, and their existence would be more of a temptation to evil than a useful extension.

That said, I see the value in reducing the complexity of the

[2020-12-11 21:59] landerlo commented on #87
Agree with the rest, but wouldn't we be keeping extra complexity with the requires and after combo? I cannot think of examples that would require `after` and cannot be modeled by additional `requires` constraints to model edge cases requiring a more specific ordering.

[2020-12-11 22:01] gwerbin commented on #87
@landerlo keeping `after` means that, if one day packages can be loaded in parallel, you can speed up package loading by not enforcing sequencing when sequencing is not required.

[2020-12-11 22:24] rickysaurav commented on #87
@landerlo I use "after" pretty frequently. Due to the fact that I lazy load 100% of my plugins to speed up my startup times.
For ex : completion.nvim, completion-buffers(completion source fir completion.nvim).

I load completion.nvim on "insertEnter" autocmd, and then sequence load completion-buffers via "after". I  also use it  similar situations like nvim-treesitter and its extension modules. I

[2020-12-12 00:49] landerlo commented on #87
@rickysaurav, thank you for explaining your use case.  My comment was assuming `requires` lazy loads following the dependency order. However I see that for the kind of star dependency for the loaders, having an `after` with a list makes it clearer. e.g. `{use: completion-nvim, after: compA, compB, ...}`
Still my preferred option would be to allow multiple lists in the use entry so the other option

[2020-12-12 01:02] landerlo commented on #87
Yes, I see that advantage that `after` takes a list, so you don't need to create a dependency chain when it's really a set of packages. I'd turn it around to allow the grouping in the `use`, as in my comment above, but this is a more fundamental change, so unless that direction is taken, you convinced me we need `after`.

[2020-12-12 01:34] ruifm commented on #87
Big +1 for that, it would be really neat!

[2020-12-12 02:23] Iron-E commented on #87
I wrote a demo. Hopefully it's useful:

[code]

[2020-12-12 09:29] Iron-E commented on #87
I created a demo of this in my config. Tested it briefly but thought I'd share:

[code]

[2020-12-12 19:57] landerlo commented on #87
This is really neat, thank you.

[2020-12-13 04:08] garymh opened #120 ""Error executing luv callback:", bad argument #1"
Hi! I'm getting the following error message using packer with nightly neovim:

...vim/site/pack/packer/opt/packer.nvim/lua/packer/jobs.lua:76: bad argument #1 to 'is_active' (Expected uv_handle userdata)

This happens when trying to use `PackerInstall` or `PackerSync`- a large majority of the packages will update fine, but 7 or 8 seem to freeze on the "Cloning..." part of the update. After a minut

[2020-12-14 05:53] wbthomason commented on #120
Hmm, interesting. Could you please post your `git` version as well?

Is it always the same few plugins that fail? If so, which?

Your config looks fine, so I'm suspecting either a weird `git` issue or a slow network is exposing an issue in the `jobs` module. Specifically, it looks like the timeout condition is being triggered, but *after* the job handle is no longer valid?

Also, irrelevant to the

[2020-12-14 09:18] clason commented on #103
@wbthomason I'm sorry to say, time is up :) Neovim just merged the Apple silicon PR, which bumped LuaJIT to the version with the changed `max` across the board. Expect to get a flood of issues on this in the coming days... (Might want to pin this issue?)

[2020-12-14 09:19] OkanEsen opened #122 "Error executing vim.schedule lua callback: ...plugin_utils.lua:56: bad argument #1 to 'max' (number expected, got no value)"
I'm not quite sure, if this issue comes from packer.nvim itself or the latest neovim version (compiled from source). I tried to update the plugins today and got the following error, after all updates were finished:

[code]

I does seem like, that `txts` or `tags` is sometimes empty, which in return does cause the issue above, because `math.max` is called with an empty table. I tried to check, if t

[2020-12-14 12:11] babariviere commented on #122
This is related to this issue #103

[2020-12-14 13:01] OkanEsen commented on #122
Ah yes, I'm going to close this in favour of #103.

[2020-12-14 13:01] #122 closed

[2020-12-14 13:22] wbthomason commented on #103
Most unfortunate. Time to see if I can figure out what that change introduced...

[2020-12-14 13:32] clason commented on #103
If I `print` the offending argument to `math.max`, I do in fact get `nil`. So it might be either a change in how this is handled, or a different change that affects `unpack(util.map(vim.fn.getftime, txts))`.

[2020-12-14 13:41] nanotee commented on #103
Can reproduce on latest Neovim master

I don't know if this is related, but there seems to be some kind of weird interaction between `math.max` and `unpack` on older versions of LuaJIT:

[code]

Unpacking an empty table in a `math.max` call used to return a (seemingly random) number, whereas latest LuaJIT throws an error.

[2020-12-14 13:48] wbthomason commented on #103
I think this is either the interaction @nanotee notes (which would imply that there's been a previously-hidden bug in `packer`'s helptags updating) or actually a change to `table.insert`, since the results of the `map` call in `plugin_utils.lua:48` should not be empty.

[2020-12-14 13:48] wbthomason commented on #103
In contrast to @clason's comment, I'm getting this when the call returns `nil` or `{}`...

[2020-12-14 13:52] clason commented on #103
If I `vim.inspect` the result of `util.map` instead of `unpack`, I also get `{}` when the error throws. (It might be that there's a race condition with printing, so that may not be 100% reliable.) So I'd go with @nanotee's comment.

There have been changes to string hashing that affect the ordering of tables; not sure that this is relevant here?

I have not been able to find out _anything_ related

[2020-12-14 13:54] babariviere commented on #103
@wbthomason I have found what might be the issue.

Some plugins don't have the `doc` folder. So the `vim.fn.glob` will always return an empty table and raise an exception.
Maybe ignoring these plugins should do it?

[2020-12-14 13:56] wbthomason commented on #103
#123 fixes this for me - could others here test that and confirm that it also fixes the issue for them?

@babariviere: The changes in #123 implicitly do that, so good thinking!
@clason: Sounds good. I suspect that @nanotee's thinking is right, and there was a bug in `math.max` previously that caused helptags to sometimes be rebuilt (or not) erroneously

[2020-12-14 13:59] babariviere commented on #103
Fixes it for me too 👍

[2020-12-14 16:23] nanotee commented on #103
Same here, no more errors after updating `packer`!

[2020-12-14 16:31] #103 closed

[2020-12-14 17:54] nanotee commented on #114
Does replacing `require("module")` with `'require("module")'` (a string) fix the issue? It looks like you want to require the modules at startup rather than feed the results of `require()` to the `config` key

[2020-12-15 03:05] wbthomason commented on #114
Whoops, sorry - I thought I'd replied to this last week.

@sidmadala: I believe @nanotee is right. From the link you sent, your config files are not modules and do not return a function, so you want the form @nanotee suggests. The alternative is to wrap the settings in each file in a function returned at the end of the file, and keep your plugin specification as it currently is.

The value for the

[2020-12-15 03:39] garymh commented on #120
Sure: git version 2.29.2

Interestingly it does seem to be some of the same plugins every time!

[code]

Although I'm not sure if its something specific to those repos. Just running `PackerInstall` will install them.

🤔 It does seem like git is getting overloaded somehow.

Ah! Thanks for the Lua tip 😄

[2020-12-15 04:35] sidmadala commented on #114
Doing either fix seems to brick the configuration and prevents the plugin's config file from loading.

[2020-12-15 05:03] wbthomason commented on #114
Did you run `PackerCompile` or `PackerSync` after making the changes? If so, can you explain more what you mean by "brick the configuration"? Do you get errors, etc.?

[2020-12-15 05:27] wbthomason commented on #120
Fascinating. I have the same `git` version and cannot reproduce the issue, so I think that theory may be (mostly) dead.

What I did notice when trying to `PackerInstall` with your config was the following:
1. Just cloning all of the plugins takes a long time. If you have a poor internet connection, you could easily be running into a timeout issue. `packer` should still be handling this more gracef

[2020-12-15 05:47] sidmadala commented on #114
I don't really know what happened between me replying, fiddling with my config a bit more, and Neovim sorting itself out. But following @nanotee advice solved the issue.

[2020-12-15 05:47] #114 closed

[2020-12-15 06:00] gwerbin commented on #63
I think the `+qall` issue might be fixed. But now `:PackerUpdate` freezes on 47/119 packages. Not sure if it's related and not sure what additional debugging info I can provide. Not sure if it's actually updating in the background and just failing to update the UI, or if the updates are actually not proceeding.

[2020-12-15 14:38] wbthomason commented on #63
@gwerbin: To clarify, is this `:PackerUpdate` in headless use or in the TUI?

[2020-12-15 14:58] wbthomason commented on #114
It is not the case that either all or none of the config key values need to be strings (wrapped in quotes) or not. All of the config values must be _valid_, meaning either a string, a table of strings, or a function value, but you can mix these types freely (for an example, you can see `plugins.lua` in my own dotfiles).

[2020-12-16 07:30] gwerbin commented on #63
In the TUI. It only started happening recently. I was getting warnings about `'redrawtime'` running out. Maybe this should be a new/separate issue, but I wanted to flag it here in case it was related to whatever changes were made.

[2020-12-16 14:11] wbthomason commented on #63
Fascinating. I have no idea what might cause that. If you have a chance to use `git bisect` to pin down when this started, that would be great - or if you have a minimal config to reproduce the issue.

[2020-12-17 06:22] gwerbin commented on #63
I'll have to block out some time for that, not sure I'll be able to get to it. However it looks like with `--headless` there is no freeze, the `q` command works in the TUI, and I checked a few of the individual packages which all were up-to-date in Git. So I think it's just a visual bug.

It sounds like all 3 of my original issues have been resolved (thank you!) so I will close this. I will open a

[2020-12-17 06:22] #63 closed

[2020-12-17 19:44] wbthomason commented on #63
Strange, ok. I don't suppose `:messages` shows you anything? No worries if you can't make time to do the `bisect`; I know that's a lot of work. I'll let you know if I manage to repro otherwise.

[2020-12-18 05:05] sidmadala opened #124 "Packer.nvim washes out screen when using a disabled colorscheme"
- `nvim --version`: NVIM v0.5.0-dev+4383c0f
- packer.nvim version(commit hash): ccfb54cebc6cf0e717ce4391b377afc43897d504
- `:checkhealth` result: All green
- Operating system/version: MacOS Catalina 10.15.4
- Terminal name/version: Alacritty 0.6.0
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup

Use the configuration I have pasted below.

<details>
<summary>plugins.